[2016-08-06 03:27] duaraghav8 opened #1 "Shit to be done"
- [ ] Write Test for `lib/cli.js`
- [x] Enable ignoring of specific lines in code file which are accompanied by comment `//solium-ignore` or something like that
- [x] Lint rules should comply with official Solidity [Style guide](http://solidity.readthedocs.io/en/latest/style-guide.html?)
- [x] `whitespace` rule: add check for space before smicolon and comma in `ImportStatement` & `UsingStatement`

[2016-08-07 17:23] duaraghav8 opened #2 "Problems with existing rule implementations"
- [x] operator-whitespace: currently doesn't support 0 space on either side (this is useful when we wish to denote precedence). For eg- it allows `4 * 3 + 19` but doesn't allow `4*3 + 19`. Fix this.
- [x] Column information is not accurate. See [issue](https://github.com/duaraghav8/solparse/issues/3) on solparse

[2016-08-08 01:15] duaraghav8 opened #3 "hot load isn't working on sub directory files :("

[2016-08-08 01:57] duaraghav8 commented on #3
integrated chokidar & fixed in v0.1.3

[2016-08-08 01:57] #3 closed

[2016-08-14 06:44] duaraghav8 opened #4 ""opening brace on same line" error even when the condition spans over multiple lines"
[code]

Above code is (wrongly) flagged by the **brace-on-same-line** rule. This style is perfectly fine and shouldn't be flagged because we may have conditions too big to fit in a single line.

what kind of a pathetic soul does one have to be to be incapable of thinking of edge cases before they start writing code :'(

[2016-08-16 08:32] duaraghav8 opened #5 "A better User Env"
The commandline displays simple text.
Maybe coloured text would be more helpful.

**Red**: Fatal Errors
**Blue**: Lint/Style errors

[2016-08-19 07:06] duaraghav8 opened #6 "rule: blank-lines should ignore comments immediately before top level declarations"
[code]
This should pass without lint errors from the ```blank-lines``` rule because there's a 2-line gap between both contracts.
it should ignore the comment ```/*foo bar*/```

[2016-08-19 12:19] 4gn3s commented on #6
This should include line comments also. I get a warning for this:
[code]

[2016-08-19 13:11] duaraghav8 commented on #6
@4gn3s yep agreed!
will notify you once this whole mess is sorted out

[2016-08-19 13:13] 4gn3s commented on #6
I'm looking forward to it. The project is great, thanks!

[2016-08-19 15:44] duaraghav8 opened #7 "indentation's not perfect yet"
for eg- `ObjectExpression` or `StructDeclaration` doesn't get linted for indentation:

[code]

same for `ArrayExpression` that span over multiple lines:

[code]

same for `CallExpression`

[code]

something like this shouldn't bypass the wrath of solium:

[code]

1 arg per line, if you're spreading your function call over multiple line. Need to code logic for this too

[code]

Also read https://gi

[2016-08-21 07:44] duaraghav8 commented on #6
@4gn3s the bug has been fixed in v0.1.7 (latest).
Once you update, traverse to your root dir & run ```solium --sync```, you need not ```--init``` again. (sync adds entries for new rules added in the latest version into your ```.soliumrc.json```, I've added ```indentation```)

If you still see it malfunctioning, feel free to re-open the issue=)

[2016-08-21 07:44] #6 closed

[2016-08-22 08:26] 4gn3s opened #8 "unpacking values causes SyntaxError"
I have a following file:
[code]
which causes an error:
[code]

I guess this error is internally in the solparse library, but I'm not sure.

[2016-08-22 09:01] 4gn3s opened #9 "A confusing warning about constructors"
When a contract has a constructor, a warning informs the user, that it should follow the mixedCase convention:
[code]
and the warning:
[code]

[2016-08-22 09:14] duaraghav8 commented on #8
Correct, this is a feature missing in solparse. It doesn't recognise ```var (x,y)```.
Thanks a ton for reporting this!

[2016-08-22 09:16] duaraghav8 commented on #9
The style guide says function names must follow mixedCase. But I forgot to add the exception for the Constructor.
This will be fixed soon:)

[2016-08-22 09:17] duaraghav8 commented on #7
ensure that you check indentation thingy ONLY when start line & end line for param list is **not the same**

[2016-08-23 06:57] #4 closed

[2016-08-23 15:49] elenadimitrova opened #10 "using a Library 'for' causes SyntaxError"
Having a
[code]
As described here http://solidity.readthedocs.io/en/latest/contracts.html?#using-for

causes a SyntaxError:
[code]

[2016-08-23 16:02] duaraghav8 commented on #10
This occurs because solparse (the library being used internally for creating the code's AST) doesn't expect **for** at that position, the grammar is not in sync with latest Solidity version). I'll fix it and notify you once I make the new release.

Thanks for reporting this :)

[2016-08-23 16:12] elenadimitrova opened #11 ""no-unused-vars" rule false positive in inherited contracts"
I get an `[ERROR] At line: x, column: y -> Variable 'someAddress' is declared but never used.` in the scenario below, in which the variable **is** used in contracts inheriting from the base but not in the base contract itself.

[code]

[2016-08-23 16:15] elenadimitrova opened #12 "Numbers not allowed in mixedCase notation"
I suspect this is the reason Solium reports a warning for a function named: `throwIfIsEmptyBytes32`
[code]

[2016-08-23 16:20] elenadimitrova opened #13 "Recognise Contract names in code"
Contract names should be CamelCase, and that's what Solium applies for the contract definition, however it appears to not recognise Contract names used outside of the `contract X` syntax, as for the following
[code]
throws a warning
[code]

[2016-08-23 16:40] elenadimitrova opened #14 "Address types treated as Strings"
Using `0x0` for an address type variable results in
[code]
Code sample
[code]

[2016-08-24 05:27] duaraghav8 commented on #11
I'm unable to reproduce the error with the code you've posted. In fact, when I comment out ```someAddress = X;```, then it gives me the var-not-used error (as expected), but when its not commented out, there is no error.

Could you tell me which version you're using? (```solium --version```)

[2016-08-24 06:27] duaraghav8 opened #15 "mixedcase rule wrongly flags during inheritance"
[code]

'Crap' is flagged as not following mixedCase, fix this

[2016-08-24 07:00] #15 closed

[2016-08-24 07:09] elenadimitrova commented on #11
solium@0.1.7

[2016-08-24 07:50] elenadimitrova commented on #11
I just installed 0.1.8 and it is still throwing the error
[code]

[2016-08-24 08:13] duaraghav8 commented on #11
Ahh! When I test the whole code in a single file, it doesn't pose any errors.

You must've declared ```IMyContract``` in 1 file, and ```MyContract``` in another.
At a time, Solium lints only a single file, so **it is not informed whether you are using the variable in some other file or not**.

This needs fixing.

[2016-08-24 09:43] 4gn3s opened #16 "Single statement one-line control structures"
If/else with one-line body can omit braces [according to the style guide](http://solidity.readthedocs.io/en/latest/style-guide.html#control-structures), but I get the following error:
[code]
with the code:
[code]

[2016-08-25 07:43] duaraghav8 commented on #16
solved in v0.1.9

[2016-08-25 07:43] #16 closed

[2016-08-25 07:43] duaraghav8 commented on #14
solved in v0.1.9

[2016-08-25 07:43] #14 closed

[2016-08-25 07:44] duaraghav8 commented on #13
solved in v0.1.9

[2016-08-25 07:44] #13 closed

[2016-08-25 07:44] duaraghav8 commented on #12
solved in v0.1.9

[2016-08-25 07:44] #12 closed

[2016-08-25 07:44] duaraghav8 commented on #9
solved in v0.1.9

[2016-08-25 07:44] #9 closed

[2016-08-27 05:33] duaraghav8 opened #17 "rule "whitespace" needs to be re-written"
remove rule ```operator-whitespace``` and merge its logic into ```whitespace```

```whitespace``` rule must comply with all tests written (currently not uploaded)

```array-declarations``` rule's check for whitespace ```uint[     ] x``` must be shifted to ```whitespace```

[2016-08-27 16:16] duaraghav8 commented on #17
done
fuck yeah

[2016-08-27 16:16] #17 closed

[2016-08-29 08:06] duaraghav8 opened #18 "Inaccurate value of node.end in case of CallExpression"
```node.end```, in some cases, doesn't include the semicolon, so ```sourceCodeUtils.getText (node)``` returns code that doesn't contain the last semicolon.

[2016-08-29 08:31] duaraghav8 commented on #18
ignore this, I'm stupid

[2016-08-29 09:03] duaraghav8 commented on #18
```solparse.parse ('fooBar ();').body [0].end```

returns **10**, it should've been **11**
:'(

[2016-08-29 10:57] duaraghav8 opened #19 "incorrect node.right in ExpressionStatement"
[code]
In the code above, ```.baz``` is a ```MemberExpression``` which causes ```node.right.start``` to be incorrect.
The AST for above code is:

[code]
```node.right``` is the ```MemberExpression``` instead of ```CallExpression``` (because of fooBar ()).

[2016-08-29 14:59] duaraghav8 commented on #10
Solved in **v0.1.11**

[2016-08-29 14:59] #10 closed

[2016-08-29 16:01] duaraghav8 opened #20 ""using Set for Set.Data;" doesn't parse"
'nough said

[2016-08-30 03:24] #20 closed

[2016-08-30 03:26] duaraghav8 commented on #19
So something like ```x = getFoo ().Bar;``` doesn't get linted correctly for assignment operator whitespace

[2016-08-30 03:28] duaraghav8 commented on #5
Look into [color.js](https://github.com/marak/colors.js/)

[2016-08-30 08:08] duaraghav8 opened #21 "false positive in calling a function which is a property of an object"
[code]
gives no error, but

[code]

elicits:
```A call without arguments should have brackets without any whitespace between them, like 'functionName ()'.```

[2016-08-30 09:20] duaraghav8 opened #22 "operator-whitespace breaks in case of something like "x * 3**2""
(NOTE: this rule is not in production right now)

but ```x * (3**2)``` works. This is because ```x * 3**2``` gives higher precedence to ** and the AST Node create has positions because of which the rule breaks.

[2016-08-30 11:05] #21 closed

[2016-08-30 16:43] #22 closed

[2016-08-30 18:20] duaraghav8 opened #23 "BlockStatement node.start property doesn't include opening brace in case of FunctionDeclaration"
[code]
AST Node:
[code]
```node.body.start``` is 18, should've been 16. Same problem with ```node.body.end```.
The braces '{' & '}' are not included in ```FunctionDeclaration```'s BlockStatement

[2016-08-31 11:50] elenadimitrova opened #24 "Import statements 2-line gap rule applies to individual statements and not to the block"
Import statement blocks should be succeeded by a 2-line gap but not each import statement as the rules currently enforce.

For example
[code]
generate the warnings:
[code]

[2016-08-31 11:58] duaraghav8 commented on #8
Solved in **v0.1.14**

[2016-08-31 11:58] #8 closed

[2016-08-31 12:01] elenadimitrova opened #25 "Error thrown when contract name starts with `I`"
[code]

[2016-08-31 12:16] duaraghav8 commented on #25
Could you paste the contract declaration code here?

Also, I'm slightly confused. By the asterisk ```*``` after ```I```, do you mean the contract name consists of any character following ```I``` (as in Regular expressions) or literally an asterisk (like ```I*```)?

[2016-08-31 15:11] elenadimitrova commented on #25
On your first question, below is a sample of the simplest of 3 contracts this error appears
[code]

For your second question I meant the asterisk as a regex, I updated the issue title to make this clearer.
tbh I couldn't find anything else common between the 3 contracts this throws on, besides their names starting with **I**

[2016-08-31 15:43] duaraghav8 commented on #25
Just finished digging.
The problem was being caused by Abstract Functions (```upgrade``` for example).

I'm guessing its a coincidence that all your abstract functions lie inside contracts whose names start with 'I'!!

I've fixed this, will notify you when I make the new release.
Thanks :)

[2016-09-01 09:46] elenadimitrova commented on #25
Indeed, we declare all our abstractions in _interface_ contracts that we prefix with ' I '
Thanks for all the fixes. We rolled out the ones done so far and all is good! :)

[2016-09-01 11:05] duaraghav8 commented on #25
ah! of course, makes more sense now
I'm glad you find it useful!

Also, **0.1.15** solves this, so closing.

[2016-09-01 11:05] #25 closed

[2016-09-01 11:05] duaraghav8 commented on #24
solved in **0.1.15**

[2016-09-01 11:05] #24 closed

[2016-09-02 18:09] duaraghav8 commented on #23
fixed in solparse

[2016-09-02 18:09] #23 closed

[2016-09-02 18:10] duaraghav8 commented on #19
enlightenment: its not incorrect, the AST is organized correctly, we gotta find a better way to deal with this

[2016-09-02 18:12] duaraghav8 commented on #18
Not an issue, I'm just stupid.
The CallExpression's parent node is ExpressionStatement, which ends at 11 (which is how it should behave)

[2016-09-02 18:12] #18 closed

[2016-09-02 18:14] #19 closed

[2016-09-02 18:19] duaraghav8 opened #26 "x = foo ().baz; gives "'=' must be succeeded by space" error (false positive)"
The reason is because of the way AST is organized (MemberExpression).
Needs fixing.
Fix, then add tests

[2016-09-03 06:21] duaraghav8 opened #27 "false positive in whitespace"
[code]

says `'=' must be succeeded by exactly a single space.`

when we remove the opening bracket '(' (and the closing obvio), then its all fine.

It treats '(' as whitespace, modify rule!!

[2016-09-03 09:24] duaraghav8 opened #28 "Integrate Solium with Truffle"
suggestion meh!

[2016-09-06 08:49] zalesky opened #29 "grammatical error"
When run solium:
An error occur**R**ed while running the linter on...

[2016-09-06 08:59] duaraghav8 commented on #29
Thanks for reporting!

[2016-09-06 09:17] #29 closed

[2016-09-06 17:13] duaraghav8 opened #30 "dp"
![solium](https://cloud.githubusercontent.com/assets/12758282/18283522/4b206522-7483-11e6-9bcd-2a70ebc8cfdb.png)

[2016-09-06 17:13] #30 closed

[2016-09-08 07:16] duaraghav8 opened #31 "doesn't parse 'uint [] x'"
```uint[] x``` is parsed, but space between uint & sq brackets throws "unexpected token" error
to fix in solparse

[2016-09-08 08:45] #31 closed

[2016-09-08 08:52] duaraghav8 opened #32 "About time to write auto-fix mechanism (commandline option '--fix')"

[2016-09-08 15:30] duaraghav8 opened #33 "'1909 + 189 * 1 ** 29 / 190;' causes runtime error from operator-whitespace rule"
\- seems to have higher precedence than /.
  Fix.
  and also ensure other precedences are correctly followed

[2016-09-08 15:37] duaraghav8 commented on #33
acc. to the solidity official docs, precedence of *, / & % is at the same level.
https://media.readthedocs.org/pdf/solidity/latest/solidity.pdf
page 79

[2016-09-08 16:10] duaraghav8 opened #34 "Solparse: MultiplicativeOperator is implemented in the wrong manner"
start & and offset for *, /, % are same (which is wrong)
try:

[code]

Same problem with + and -. Problem exists in the way we've defined Operators in solparse & solidity-parser

This issue is directly related to #33

[2016-09-22 13:30] elenadimitrova commented on #28
We use truffle extensively so will definitely be useful!

[2016-09-22 13:38] elenadimitrova opened #35 "False positive for "blank line" missing after a function declaration"
This wasn't happening before v1.6 but now it is. The code below will give me a `FunctionDeclaration must be succeeded by 1 blank line`

[code]

[2016-09-22 15:00] duaraghav8 commented on #28
awesome! I'll notify you when its out (which is probably after 2 weeks) :)

[2016-09-24 11:51] duaraghav8 opened #36 "add test for pragma version statement"
`pragma solidity ^0.4.0`
`pragma solidity 0.4.0`

[2016-10-14 03:23] tymat commented on #36
Additionally, this needs to be fixed:

[code]

[2016-10-14 03:27] duaraghav8 commented on #36
@tymat could you paste your code which caused this warning?

[2016-10-15 00:46] tymat commented on #36
@duaraghav8

Any code that has pragma statement on the top.

[code]

[2016-10-15 03:03] duaraghav8 commented on #36
Oh my bad. I thought you were facing this problem due to some other reason. Thanks for bringing thisto my attention

[2016-10-26 10:16] elenadimitrova commented on #36
Also adding that `pragma` statement should be at the top so therefore change `import`statement rule as well, which otherwise throws:

[code]

[2016-10-26 10:41] elenadimitrova commented on #35
Basically seems to be due to the comments section which somehow confuse it. If comments are removed, then the rule passes.

[2016-10-28 09:46] elenadimitrova opened #37 "Implement exception for 'Use of empty block statement {}' rule for a payable fallback function"
Since Solidity 4 we are able to implement an empty payable fallback function

[code]

Functionality defined in
http://solidity.readthedocs.io/en/develop/frequently-asked-questions.html?highlight=payable#what-is-the-deal-with-function-inside-solidity-contracts-how-can-a-function-not-have-a-name

This however throws a warning in solium
`[WARNING] At line: x, column: y -> Use of empty block statement

[2016-11-01 16:01] federicobond opened #44 "Rules Wishlist"
This is my wishlist for additional rules. Let me know if you are against any of them getting implemented in the core. I will work on some of them but anything else is up for grabs.

 * [ ] Suggest `send` instead of `vall.value()` (WIP @federicobond)
 * [ ] Suggest avoiding `block.timestamp` as it can be manipulated by miners (only in functions) (WIP @federicobond)
 * [ ] Ensure any function that u

[2016-11-01 16:39] maraoz commented on #44
Not always desirable. See for example: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/Rejector.sol

[2016-11-01 17:06] federicobond commented on #44
Updated. Thanks @maraoz!

[2016-11-01 19:19] federicobond opened #45 "Custom rules should follow the same API than core rules"
Custom rules should export an object with a `verify` key. This would make it easy to eventually expand the API so that custom rules provide their own automated fixing code and other features planned for core rules.

We could support passing a function for backwards compatibility but deprecate that usage slowly.

[2016-11-01 19:29] federicobond opened #46 "Add support for reading input from stdin"
This is useful for integrating with text editors and IDEs, as it allows linting from the latest buffer contents instead of the data on disk.

It could be implemented with an option named `--stdin`. For example:

[code]

[2016-11-01 19:30] federicobond opened #47 "Do not return error code > 0 if the only issues found are warnings"

[2016-11-02 03:09] duaraghav8 commented on #44
Agreed with maroz and no issues with the rest.

My plan is to separate the linter into 2 layers - the base would only ensure compliance with the [Solidity Style Guide](https://solidity.readthedocs.io/en/develop/style-guide.html).

The 2nd layer contains all the additional rules (like you've stated above) coming from the community. But this layer is optional and therefore can be enabled / disabled

[2016-11-02 03:18] federicobond commented on #44
Eslint has some notion of rulesets. See [here](http://eslint.org/docs/rules/). Perhaps we can do something similar with Solium rules, where you can choose to enable the `base` or `core` ruleset or something more complete.

I must confess I am not a big fan of the current `--sync` implementation. I believe that most users will forget to do that and lose out on newly developed rules. It's better to

[2016-11-03 09:15] duaraghav8 commented on #44
You're right, we should deprecate ```--sync``` and have a configuration file system instead.
Something similar to ESLint's.

I'll blog the final plan before I start implementing it but let me know if you have ideas of your own.

[2016-11-03 09:24] duaraghav8 commented on #44
Also Rule proposal:

- [ ] Throw **Warning** if a solidity file does not include a PRAGMA directive on top

[2016-11-05 15:12] duaraghav8 commented on #46
@federicobond issues are closed once a new release is published, so I'll keep it for now.

[2016-11-05 16:19] duaraghav8 commented on #37
solved in **v0.2.0**

[2016-11-05 16:19] #37 closed

[2016-11-05 16:21] duaraghav8 commented on #36
@elenadimitrova @tymat **v0.2.0** solves the problems discussed above. But if something still doesn't work, please re-open

[2016-11-05 16:21] #36 closed

[2016-11-05 16:21] duaraghav8 commented on #46
**v0.2.0**

[2016-11-05 16:21] #46 closed

[2016-11-08 09:56] elenadimitrova commented on #7
Worth changing the wording here to say "4 spaces" rather than 2, as this is what it's testing for.

https://github.com/duaraghav8/Solium/blob/master/config/solium.json#L99

As a nice-to-have would be to make this configurable as we here use 2-space indentation rather than 4, forcing us to switch off this rule altogether.

[2016-11-08 11:41] elenadimitrova opened #50 "False positives on "Opening brace must be on a new line immediately after the last modifier" rule"
The regex here is failing to detect the new line
https://github.com/duaraghav8/Solium/blob/master/lib/rules/lbrace.js#L418
When outputting the  `charsBeforeLBrace` this is correctly a new line " "

Perhaps a possible alternative is to compare the `declarationEndingLine` and `bodyStartingLine` and check `bodyStartingLine = declarationEndingLine + 1`?

[2016-11-08 23:29] federicobond opened #51 "Show summary at the end for pretty reporter"
It should say something like:

[code]
Or:
[code]

[2016-11-09 00:25] federicobond opened #52 "Accept contract names with numbers"
I have no reason to think that names like `MyToken2` are invalid according to the style guide.

We should expand the camel case regex to accept this and other variations.

[2016-11-09 05:50] federicobond commented on #44
Rule:
 * [ ] Insecure instantiation of array or mapping

See: https://ethereum.karalabe.com/talks/2016-hackethon.html#10

**P.S.** Is there a secure case for this construct? Or are all its uses insecure?

[2016-11-14 04:01] kenji-isuntv opened #53 "TypeError: Cannot read property '0' of undefined"
When I ran the following command:

[code]

The result is:

[code]

The source code of `BlindAuction.sol` is the same as that in the official tutorial [here][source]:

[code]

[source]: https://solidity.readthedocs.io/en/latest/solidity-by-example.html#id2

[2016-11-15 06:28] duaraghav8 commented on #50
@elenadimitrova thought I'd share with you the problem that caused this F.P. You can skip this if you want. Issue has been resolved and won't occur next version onward.

You were right, the Regex wasn't correct. It detected the newline, but not the (optional) spaces or tabs that followed the newline character.

So, something like:
[code]

passes, but something like:
[code]

failes because the Rege

[2016-11-26 17:32] federicobond commented on #5
@duaraghav8 I think you can close this with the new output.

[2016-11-27 02:51] #5 closed

[2016-11-27 02:51] duaraghav8 commented on #5
Thanks @federicobond!

[2016-11-30 17:44] ulope opened #55 "Allow uppercase acronyms in contract names"
The style guide doesn't specify whether all uppercase acronyms are acceptable in contract names (e.g. `IOUToken`). Personally I find nothing wrong with it.

What do you think?

[2016-11-30 18:09] ulope commented on #53
This is a minimal failing example:

[code]

Apparently the three combined conditions are what trigger the bug. Removing the last `&& 1` allows solium to run normally.

[2016-11-30 18:17] duaraghav8 commented on #55
hmm agreed, do you think the same should apply to names of Library, Structure and Event declarations too?

[2016-12-01 13:58] ulope commented on #55
Yes I think that would make sense.

[2016-12-01 18:06] ulope commented on #53
After a bit more debugging the root of the problem lies in [`operator-whitespace.js` L21-24](https://github.com/duaraghav8/Solium/blob/master/lib/rules/operator-whitespace.js#L21-L24)

`BinaryExpression`s with more than two operands get parsed into a tree where the `left` node is itself a `BinaryExpression`. This leads to `getStringBetweenNodes()` returning an empty string which then breaks in L24

[2016-12-02 13:37] duaraghav8 commented on #35
Solved in 0.2.1, thanks to @cgewecke

[2016-12-02 13:37] #35 closed

[2016-12-02 13:39] duaraghav8 commented on #51
Solved in v0.2.1, thanks to @federicobond

[2016-12-02 13:39] #51 closed

[2016-12-02 13:40] duaraghav8 commented on #50
solved in v0.2.1

[2016-12-02 13:40] #50 closed

[2016-12-02 13:42] duaraghav8 opened #57 "Zepplin Integration"
https://github.com/OpenZeppelin/zeppelin-solidity

Start integration once API is modified

[2016-12-02 13:52] duaraghav8 opened #58 "Shift to solidity-parser from solparse"
https://github.com/duaraghav8/solparse/issues/12

Need to start making PRs to [SP](https://github.com/ConsenSys/solidity-parser) to even it out with [solparse](https://github.com/duaraghav8/solparse) and once AST construction is same, should update [package.json](https://github.com/duaraghav8/Solium/blob/master/package.json) to use SP instead of solparse

[2016-12-02 15:10] federicobond opened #59 "Fix error summary when used with --hot"
Error summary is not reset when running with --hot, so error count increases continually.

[2016-12-02 15:14] federicobond opened #60 "Rename --hot to --watch"
This is probably a matter of opinion, but most tools use the word "watch", as in "watching files" for this functionality. Hot sounds more like code auto-reloading to me.

If you want to keep `--hot` for backward compatibility, we could configure it as an alias.

What do you think?

[2016-12-02 15:18] duaraghav8 commented on #60
I initially set it to ```hot``` because I didn't really know the name in widespread use for hot reloading. If most tools use ```--watch```, then we'll go with the same and ```hot``` remains for backward compatibility.

[2016-12-02 15:27] duaraghav8 commented on #60
I just pushed the change, let me know if something's missing

[2016-12-02 15:34] federicobond commented on #60
Great! I just tested it and everything appears to work well.

[2016-12-02 17:28] duaraghav8 commented on #53
@ulope correct! I'm tracking this through tests (if you run ```npm test```, you will see 2 operator-whitespace tests failing). To be honest, I myself haven't thought of a solution to this :P

Hopefully, I'll find time to fix this soon!

[2016-12-02 17:32] ulope commented on #53
For now I'm using this truly horrendous brute force hack to work around it. This breaks whitespace violations detection in > 2 operator expressions in some cases but at least avoids the crash.

[code]

[2016-12-03 12:02] duaraghav8 commented on #59
added ```counts = {}``` at the end of ```finalize()```, seems to work fine.

[2016-12-03 22:27] cgewecke commented on #50
Still getting this false positive when the last modifier in the list has no function brackets, e.g
[code]

This is parser issue really. The `payable` token's `location.end.offset` is getting set right before the function's opening left brace, probably because whitespace between the modifier name and the `()` is legal?  This means the regex always tests an empty string, doesn't see the `\n` and fir

[2016-12-05 18:10] duaraghav8 commented on #59
solved in v0.2.2

[2016-12-05 18:10] #59 closed

[2016-12-05 18:13] duaraghav8 commented on #53
solved in v0.2.2, thanks to @kenji-isuntv @ulope @cgewecke

Hopefully it wouldn't pose any more problems (feel free to re-open the issue otherwise)
Will keep testing the fix

[2016-12-05 18:13] #53 closed

[2016-12-08 15:19] ulope opened #65 "Block comments confuse indentation detection"
This example causes an (IMO) incorrect indentation warning
[code]

[code]

Interestingly this only happens on the second (and all later) occurrences of a block comment not on the first.

[2016-12-08 15:25] duaraghav8 commented on #65
The indentation checker is doing its job alright. Because the ```*/``` has 1 extra space before it, the linter throws a warning because it doesn't see *exactly* 4 spaces (it sees 5 instead).

So I think we need to make an exception for the multi line comment.

[2016-12-08 15:27] ulope commented on #65
But strangely the first occurrence is't recognized as a violation.

[2016-12-08 20:14] federicobond opened #67 "Some thoughts on writing linter rules"
I like the approach taken by `eslint`, where you return your visitor as an object with functions defined after each node type you want to visit, and also make heavy use of helper functions to refine the match.

See example here: https://github.com/eslint/eslint/blob/master/lib/rules/semi.js

@duaraghav8 perhaps you can take this into account in your refactor. Let me know what you think about it.

[2016-12-13 04:57] federicobond opened #68 "Should not generate errors for unused public variables"
[code]

[2016-12-14 02:11] federicobond commented on #44
* [ ] Contract uses `send` or `call.value` but has no payable functions or constructor

[2016-12-15 10:47] elenadimitrova opened #69 "CamelCase rule reporting false positives"
Both upper CamelCase and standard camelCase are reported as warnings in solium@0.2.2
Sample:
[code]

[code]

[2016-12-19 14:05] ulope commented on #69
This looks like #55 with the addition of initial lower case letters.

[2016-12-21 03:41] federicobond commented on #44
* [ ] Warn when using `tx.origin` instead of `msg.sender`

[2017-01-04 23:01] cgewecke commented on #58
Hi. Hope you had a wonderful December :) I'd love to help out with this issue.

Do you have a list of critical differences between solparse and solidity-parser? Just talked with frederico about pulling in the good work you've done, forcing solidity-parser on you and then changing solidity-parser so that everything breaks! But then immediately fixing it. Any thoughts?

[2017-01-05 04:23] duaraghav8 commented on #58
@cgewecke happy new year :) That'd be great!

I haven't been active on Github lately (for which I feel terrible), so maintenance of Solium is over-due. I'll take a look at the current version of solidity-parser and run tests to dig out all the differences and will send you an email.
Please let me know your ID.

Thanks big time!

[2017-01-05 22:01] cgewecke commented on #58
I'm making a list here of things to do to stop solidity-parser from breaking Solium.
+ test code snippets must be wrapped in legal code e.g. `var x = 10;` needs pragma, contract, fn encasing. (Starting with this now.)

[2017-01-06 15:29] federicobond commented on #44
* [ ] Warn about using `a =+ b` or `a =- b`. See [here](https://github.com/ether-camp/virtual-accelerator/issues/8).

As a general rule, a linter for smart contracts should be very strict with spacing around all keywords, operators, etc. to avoid these problems.

[2017-01-09 21:00] cgewecke commented on #58
This PR at solidity-parser would impact Solium in the following places (that I can see). I don't know that it will be accepted but something similar is coming...
+ [`rules/whitespace.js - Line 230`](https://github.com/duaraghav8/Solium/blob/master/lib/rules/whitespace.js#L230). The rule doesn't use `AssignmentExpression` when parsing the value assignment to StateVariableDeclaration. It could proba

[2017-01-09 22:15] federicobond commented on #44
* [ ] Find similar identifiers that could be confused

[2017-01-10 02:07] cgewecke commented on #58
Edited above to contain link to relevant PR.

[2017-01-17 01:59] cgewecke commented on #58
@duaraghav8 Hi. Have been thinking about how to integrate Solium's (majestic) test-suite with SP's new strictness about statement context and have been unable to come up with an elegant solution. It looks like the simplest and lowest-maintenance thing to do might be to bite the bullet now by:

+ writing some simple wrapper functions that take any code snippet and locate it within a contract or fun

[2017-01-17 16:51] duaraghav8 commented on #58
@cgewecke I think having a wrapper function is a great idea. That way, any one who reads/writes tests will only be focusing on the line(s) of code to be tested without the hassle of surrounding them all with contract declaration code.

You'll have to go through the tests once because some of them include the line to be tested wrapped inside the contract, so these tests need not use the wrapper fun

[2017-01-17 17:14] cgewecke commented on #58
@duaraghav8  Ok perfect! I will work on that this week. I'd be very happy to be a collaborator, thank you. It would make it very straightforward for you to modify any PR's as you wish.

[2017-01-17 17:26] cgewecke commented on #58
@duaraghav8 Somewhere federico suggested turning on Travis for this repo. Have you ever used that before? I think its simple to open an account that is linked to your GitHub and toggle Solium `on`. It's free for open source. Then I can submit a travis.yml that works with Solium for the wrapped test suite and you will be able to easily verify nothing has broken.

[2017-01-19 07:24] duaraghav8 commented on #58
This is my first time with travis.
I've synced Solium & pushed the .travis.yml

I'm guessing the next step is to push a commit?

[2017-01-19 18:15] cgewecke commented on #58
@duaraghav8  Yes it worked! On a side-note - I think you should restrict my ability to push / merge to master in order to minimize the amount of damage I could do here. It must be possible in collaborator settings somewhere. Have opened a PR from the `wrap-test-code` branch. Feel free to edit or suggest revisions at your leisure.

Are PRs for fixes to SP anywhere on the horizon for you? No pressur

[2017-01-22 07:49] cgewecke commented on #58
Also @duaraghav8 if it's simpler for you to delegate the SP fixes to me I'm happy to do them. Likewise if your intention is that I merge changes to Solium please let me know. Solium has such a robust test suite and is so well structured that new code can be added to it with a high degree of confidence.

And any guidance you can give me about what I should be doing would be welcome - I don't really

[2017-01-22 12:57] duaraghav8 commented on #58
Thank @cgewecke, that's a huge compliment :D
I'll check out the ```wrap-test-code``` PR. I'd love it if you could push the SP fixes (sorry for being a lazy ass!)
In terms of coding style, just some basic things:
we're using semicolons, tabs and ```===``` (if you have a good reason to use ```==``` instead, please accompany it with a comment).
I'm going to give priorities to the issues so it becomes

[2017-01-22 19:28] cgewecke commented on #58
Ok great! That's really helpful.  Please don't be shy about suggesting revisions - stylistic or otherwise - for submissions. I'm always glad to improve something.

I'll get started on the SP stuff, thanks Raghav.

[2017-01-24 04:49] duaraghav8 commented on #58
@cgewecke thanks for all the PRs you've been working on for SP.
Regarding the note at the bottom, please mention yourself as the co-author of the fixes since I know you made changes to ensure things don't break in any of the dependants of the parsers.

[2017-01-24 06:11] cgewecke commented on #58
No no it's good. Thanks though!

[2017-04-17 03:40] xanderdunn opened #73 "SyntaxError"
solium 0.2.2

Anytime I attempt to lint the [Numeraire contracts](https://github.com/numerai/contract/tree/master/contracts), I get this `SyntaxError`:

[code]

The contracts compile fine with solc 0.4.10.

[2017-04-18 05:41] duaraghav8 commented on #73
Thanks for reporting this @xanderdunn

[2017-05-08 06:43] alexstep commented on #73
Maybe you can add something like https://github.com/Latrasis/linter-solidity/blob/master/lib/compiler.js ?

[2017-06-07 09:18] duaraghav8 opened #74 "Roadmap"
I haven't been in touch with Open Source lately (6 months to be exact), but am back now =)
Need to brush up on certain things so I can continue active maintenance of this project. Checklist:

- [x] Know what's the latest in Solidity Language (that hasn't been accounted for in solium)
- [x] Revisit all pieces of this project to refresh memory on how this thing works
- [x] Revisit issues opened so f

[2017-06-07 13:12] maurelian commented on #74
I just happened to be swinging by. Great to see you returning to this, and might be able to submit some PRs once you've prioritized the direction.

[2017-06-07 13:24] duaraghav8 commented on #74
@maurelian that would be awesome! I'll be writing in more detail about it very soon :D

[2017-06-08 05:33] duaraghav8 commented on #74
I've been planning to develop this project eslint style for 2 main reasons:
First as described in #67
Second being the way eslint allows you to plug in rules and create portable configuration files (http://eslint.org/docs/developer-guide/shareable-configs)

Feross makes a good use of these: https://github.com/feross/standard

all rules implemented for solium will either be part of the core linter

[2017-06-08 14:58] #27 closed

[2017-06-08 18:19] duaraghav8 commented on #69
```contract IUpgradable {}``` (CamelCase in general) should no longer be reported.

[2017-06-08 18:19] #69 closed

[2017-06-08 18:21] #55 closed

[2017-06-11 09:39] #33 closed

[2017-06-11 16:24] #26 closed

[2017-06-11 18:29] duaraghav8 commented on #65
closing this since the above script now gets through without any errors, opening up another todo item to write tests for ```indentation``` rule. Thanks for reporting!

[2017-06-11 18:29] #65 closed

[2017-06-11 18:31] #52 closed

[2017-06-11 18:48] duaraghav8 opened #75 "cli input from stdin will fail in windows environment"
https://github.com/duaraghav8/Solium/blob/d6bba6465b6c12fc07efd325c9df29f1e78f3cf9/lib/cli.js#L178

input is currently being read using ```fs``` module from ```/dev/stdin``` - wat!? Okay so the named pipe will obviously be available in Linux environments, but not in windows. Need to account for environment in which sodium is running.

[2017-06-12 02:49] federicobond commented on #75
`process.stdin` should work in all environments.

[2017-06-12 03:05] federicobond commented on #74
**Why not use ES6 features and transpile the package code with Babel?** Many packages already do that and at the current JavaScript speed, it not unreasonable to think that you will be able to take out the transpiler in a couple of years and have a very clean, modern looking codebase that will work on most devices anyway.

[2017-06-12 03:25] duaraghav8 commented on #74
@federicobond agreed, added to TODO

[2017-06-12 03:34] duaraghav8 opened #76 "Move to ES6"
Resolving this issue is going to take a good amount of effort and time and though it would be great internally for the project, it wouldn't provide any real benefit to our users. Hence, this is a medium priority issue and we're looking for generous souls to work on it (the core contributors are unlikely to take this up any time soon, sorry!)

[2017-06-13 03:37] travs commented on #73
Similar issue with `solidity-parser` was fixed [over here](https://github.com/ConsenSys/solidity-parser/issues/71).
Also relevant to #58

[2017-06-13 03:49] travs opened #77 "Add Atom package to README"
Hey all, I've [made a simple package](https://atom.io/packages/linter-solium) for Atom that uses Solium as its core and gives some nice IDE-like features, like tooltips and lint underlining.

Just wanted to see if we should add it as an example in the readme, of Solium linting inside an editor.
Check it out and try it if you like; will be updating it with some more features in my spare time. 😄

[2017-06-13 04:05] duaraghav8 commented on #77
@travs this is great! Will add this to our documentation :)

[2017-06-13 10:33] #77 closed

[2017-06-13 10:45] duaraghav8 opened #78 "When using --watch & --stdin together, solium does NOT produce error as it should"
https://github.com/duaraghav8/Solium/blob/master/lib/cli.js#L281

Because we're checking for existence of ```cli.watch```. This never happens because cli's property ```hot``` is set to ```true``` whenever we enable hot reloading, even when ```--watch``` is used.

[2017-06-13 10:52] #78 closed

[2017-06-13 11:42] duaraghav8 commented on #75
So I dug deeper into this. The aim here is to read the source code from ```stdin``` **synchronously**.
This is done perfectly as of now (```var sourceCode = fs.readFileSync ('/dev/stdin', 'utf-8');```), but it won't work for windows.
[This piece](https://nodejs.org/api/process.html#process_process_stdin) is straightforward and keeps things clean, but is asynchronous. So we'd have to introduce call

[2017-06-13 16:13] travs opened #79 ""no-unsed-vars" rule does not detect variable usage before declaration"
Example input:
[code]

Gives error:
[code]

The contract compiles/executes fine, but Solium does not detect that the variable is used.

Solium does not give an error here (expected):
[code]

### Proposal

1. Update `no-unused-vars` to detect usage before declaration, and
2. add a rule like [`no-use-before-define`](http://eslint.org/docs/rules/no-use-before-define), because using before defining is

[2017-06-14 18:24] federicobond commented on #75
Yes, get used to using callbacks and promises a lot. `node` is not meant for synchronous stuff.

One alternative (once you configure Babel for ES6) is to use `async`/`await`.

[2017-06-15 06:33] elenadimitrova opened #80 "Linting assembly code fails"
The following error is thrown when running `solium@0.4.0` against contract containing Solidity assembly code:

[code]
Line 7 where the error is thrown is the assembly block in the following simplified contract

[code]

[2017-06-16 03:13] duaraghav8 opened #81 "disable "no-with" rule since currently there's no "with () {}" statement in solidity"
although this rule doesn't interfere because one will never use it under normal circumstances (because its not even part of solidity), it represents redundant code. deal with this.

[2017-06-16 04:26] duaraghav8 opened #82 "rule "uppercase" - account for node type "StateVariableDeclaration""
solidity-parser has node type ```StateVariableDeclaration``` because [this](http://solidity.readthedocs.io/en/develop/contracts.html#constant-state-variables).

Modify ```uppercase``` rule implementation & tests to work with this new format.

[2017-06-16 09:02] duaraghav8 commented on #82
```v0.5.0``` onwards

[2017-06-16 09:02] #82 closed

[2017-06-16 09:03] duaraghav8 commented on #80
will be available in ```v0.5.0``` (set to release in next 4 days). Thanks for reporting this @elenadimitrova :)

[2017-06-16 09:03] #80 closed

[2017-06-16 09:04] duaraghav8 commented on #73
Solium has now switched to solidity-parser as dependancy instead of solparse. So this won't give you trouble once ```v0.5.0``` is released (which is very soon :) )

[2017-06-16 09:04] #73 closed

[2017-06-16 09:05] duaraghav8 commented on #58
```v0.5.0``` onwards

[2017-06-18 13:03] duaraghav8 opened #83 "make a table of all declarations & definitions accessible to each rule"
The linter should scan all solidity code files for declarations & definitions of data, functions, contracts & libraries.
This "symbol table" should then be provided to all rules.

This structure will directly serve as the foundation for solving #11 & #79 (```no-use-before-define``` rule) and allow a rule to access information outside the file on which the rule is being run.

[2017-06-19 11:57] duaraghav8 opened #84 "whitespace rule: lint function modifiers, variable tuples & NameValueAssignment"
also add tests for function modifiers
and uncomment tests for others here: https://github.com/duaraghav8/Solium/blob/master/test/lib/rules/whitespace/whitespace.js#L382

- [x] VariableDeclarationTuple
- [x] function modifs
- [x] NameValueAssignment

[2017-06-20 13:12] duaraghav8 commented on #80
0.5.0 is now available and has resolved this issue

[2017-06-22 12:22] oed opened #85 "Crashes when parsing an array as a return value"
When parsing a contract that has a function which returns an array Solium chrashes.

To reproduce, lint this:
[code]

[2017-06-22 15:26] duaraghav8 commented on #85
@oed are you sure that ```address[]``` is a valid usage?
I looked up in docs (http://solidity.readthedocs.io/en/develop/types.html), my interpretation is that it currently doesn't support dynamic arrays. Solc compiles the code but also produces a formal error that this is not supported.

The doc says:

[code]

[2017-06-22 15:32] oed commented on #85
@duaraghav8 I think it is supported, as long as you don't use the function with an internal call. External calls are fine.
http://solidity.readthedocs.io/en/latest/frequently-asked-questions.html?highlight=return%20array#can-you-return-an-array-or-a-string-from-a-solidity-function-call

`Returning variably-sized data as part of an external transaction or call is fine.`

[2017-06-22 17:42] duaraghav8 commented on #85
@oed I'm working on a fix for this :)

[2017-06-28 06:10] duaraghav8 commented on #85
@oed ```v0.5.1``` resolves this, please re-open the issue if you still face any trouble with this.

[2017-06-28 06:10] #85 closed

[2017-06-28 14:31] oed opened #86 "Multi-line if statements not possible?"
I not sure if I'm missing something but when I do if statements with multiline checks I get errors. I looked through the solidity style guide but couldn't find any examples.

To replicate:
[code]
Neither of the above works, but I don't know which one would be prefered.

[2017-06-30 16:55] #86 closed

[2017-06-30 16:59] duaraghav8 commented on #86
@oed allowed ```0.5.2``` onwards (will be released in some time)
[code]

This style is allowed - **operator must be on the line where the left side of the expression ends and the right side of the expression should be on the next line (only a single line break allowed)**

[2017-06-30 18:10] oed commented on #86
Awesome, thank you! :D

[2017-07-02 10:28] duaraghav8 opened #87 "verify all Node names between rules & Parser"
Solium currently relies on logic of solidity-parser to parse all Solidity code.
This was a recent shift.
Need to ensure that all AST Node names in Parser match those in rules (and their tests), because otherwise some components may go untested.

eg-
When Solium was dependant on Solparse, say the function declaration node was called ```FunctionDeclaration```. The latest version of SP calls it ```Fu

[2017-07-07 08:38] #84 closed

[2017-07-09 02:52] #2 closed

[2017-07-22 04:36] MicahZoltu commented on #47
This is the _opposite_ of what I want (I actually came here to see if there was an option for marking warnings as errors).  If this is added, please be sure to make it configurable.

[2017-07-24 15:36] cgewecke commented on #74
@duaraghav8 Not sure if this right issue...but have you seen this: [securify.ch](http://securify.ch)?

I looks like some the security issues they're tracking could be detected just by inspecting the AST. Some would need 'symbol table' infrastructure. I fooled around with it a little and they seem to be compiler dependent. The website also can't handle anything that has imports.

[2017-07-24 16:09] ChihChengLiang opened #90 "Add file change messages in watch mode, so that a vscode lint task can be configured."
Hi dear maintainers,
Thanks for all your hard works to this awesome project, it makes following good coding style easier.

<img width="511" alt="screen_shot_2017-07-25_at_12_14_57_am" src="https://user-images.githubusercontent.com/3391420/28533181-cdb0ade2-70ce-11e7-960c-8ccbc2159503.png">

It would be great to configure a vscode [lint task](https://code.visualstudio.com/docs/editor/tasks#_backgro

[2017-07-24 17:53] duaraghav8 commented on #90
@ChihChengLiang changes merged, this is extremely helpful, thanks! :D

[2017-07-24 18:10] #90 closed

[2017-07-24 18:18] duaraghav8 commented on #74
@cgewecke just tested it out, but I'm not sure what point you're trying to make here? Are you suggesting we should have a similar functionality (as a layer on top) or something else?

[2017-07-24 18:34] cgewecke commented on #74
Yes - sorry that comment wasn't very clear - I'm wondering about your plans to implement a symbol table in  #83 (what will it look like?) because I'm interested in the possibility of developing rules to perform these kinds of checks. Some are very simple - like seeing if function call arguments are validated before they are used.

[2017-07-26 04:31] duaraghav8 commented on #74
ah @cgewecke I haven't started work on this issue (even though this will be the most fun part) since I haven't entirely made up my mind as to which direction the project is headed in.

1. We could either transform it into a full-fledged linting tool (think eslint) so at the end of the day, its still a tool that ensures you're using good smart contract programming practices.

**OR**

2. We could he

[2017-07-26 08:46] #68 closed

[2017-07-26 12:13] elenadimitrova opened #92 "False upper case notation check on constant name"
When running solium against upper case constant names ending in numbers, the following warning is thrown:

[code]

[2017-07-26 13:19] #92 closed

[2017-07-26 15:37] maurelian commented on #74
Can you elaborate on the second option a bit more?

How would "secure contract coding" be verified in this scenario, if not by ensuring compliance to specific patterns of style and syntax of as it would in the ESLint like scenario? Is there a comparable tool, either in the Solidity,JS or other language ecosystem to help understand?

Also worth noting @federicobond's https://github.com/federicobond

[2017-07-26 18:08] cgewecke commented on #74
@duaraghav8 That seems fair although like maurelian I'd like to hear more about how you see the distinction. It's reasonable at least to require that security analyses be wholly expressible within a rule and not consume excessive resources / generate false positives, etc.

esLint mostly inspects discrete expressions and spacing but there are some more sophisticated rules in the [best practices](ht

[2017-07-26 18:10] federicobond commented on #74
Hi! I think Raghav has done a terrific job with Solium so far. I started `solcheck` because I wanted to explore some other ideas with a faster release cycle, but I see countless opportunities for mutual collaboration in the future. `solcheck` is more unashamed when it comes to copying the good parts of `eslint`, and aims to make it as easy as possible to write new rules.

As for the direction of t

[2017-08-01 06:15] duaraghav8 commented on #32
Step 1: https://github.com/duaraghav8/Solium/commit/37fb04b03e4266cbe2d52887377b265af98d7c42

[2017-08-01 08:02] duaraghav8 commented on #74
Read this page first: https://www.klocwork.com/products-services/klocwork/application-security

Now let's come to point 2 I talked about. We know what ESlint does. It does a great job of linting but that is the ultimate scope of the project. It only does a small subset of all the things the above link talks about.

By "hardcore security analysis of smart contracts", I meant achieving what the page

[2017-08-01 08:08] duaraghav8 commented on #74
I also just checked out [solcheck](https://github.com/federicobond/solcheck). I've known Fed to always see things from a different angle so even if at first what he does seems like re-inventing the wheel, it always turns out to be solving a problem very efficiently. I don't doubt that solcheck is going to be fantastic (good luck!). We can certainly collaborate in future. Plus I also admit that I'm

[2017-08-02 18:20] cgewecke commented on #74
@duaraghav8 Thanks! Your analysis is helpful - essentially you're arguing that provisioning the resources necessary for security analysis is specialized and those efforts belong in a dedicated tool? I think that's fair and quite possibly correct as a practical matter alone. I suppose I tend towards Federico's view that the distinction between security and style isn't that clear cut and if a kind o

[2017-08-03 11:57] duaraghav8 commented on #32
Auto-fix ApI for rule dens & `--fix` option in cli are now ready 💃

[2017-08-03 11:57] #32 closed

[2017-08-04 05:39] duaraghav8 opened #94 "Write fixes for existing rules"
- [ ] `array-declarations`
- [ ] `blank-lines`
- [ ] `double-quotes`
- [ ] `indentation` - will be implemented only after #93
- [ ] `lbrace`
- [ ] `operator-whitespace`
- [ ] `deprecated-suicide`
- [ ] `pragma-on-top`
- [ ] `whitespace`

See https://github.com/duaraghav8/Solium/blob/master/docs/DEVELOPER.md on how to implement `fix()`es for rules.

[2017-08-05 08:10] duaraghav8 opened #95 "inline assembly var. declaration without 'let' keyword fails in some cases"
This compiles fine:
[code]

This fucks up:
[code]

Also, `switch` statement given in solidity doc http://solidity.readthedocs.io/en/develop/assembly.html breaks solparse: `switch x case 0 { y := mul(x, 2) } default { y := 0 }`

[2017-08-11 03:12] duaraghav8 opened #97 "v1"
- [ ] **Eventually remove all the v0 backward compatibility code from solium**
- [ ] Plugin in sharable config
- [ ] Snapcraft call for testing & release stable version (https://github.com/duaraghav8/Solium/pull/130)
- [x] Make Custom rules API same as that of core rules, deprecate previous custom rule API --> Solium plugins
- [x] Enable sharable configs (and add schema to validate sharable config

[2017-08-11 03:14] duaraghav8 opened #98 "pending tests"
Need to write tests for:

- [ ] Indentation rule(s)
- [ ] Autofix API & mechanism
- [ ] everything in #97

[2017-08-12 06:32] duaraghav8 opened #99 "Rule Cache"
For every file passed into sodium for linting, the process starts from the beginning. This means the same rule files are read from disk every time. This results in poor performance. Need caching and mechanism to check the supplied config object to determine which rules need to be read from disk and which could simply be server from cache.

[2017-08-15 10:16] duaraghav8 opened #100 "rule 'quotes' doesn't lint over contract-level string constants"
[code]

doesn't get linted because the node name is different.

[2017-08-15 11:15] #100 closed

[2017-08-15 12:10] #47 closed

[2017-08-15 12:14] duaraghav8 commented on #47
@MicahZoltu next version of solium will allow you to configure whether to treat a rule as warning, error or turn it off altogether, similar to eslint.
eg- https://github.com/duaraghav8/Solium/blob/master/config/rulesets/solium-all.js

Plus you can pass options like `quotes: ["warning", "double"]`.

The cli will only return non-zero exit code if any errors exist.
Thanks @federicobond

[2017-08-15 13:37] duaraghav8 opened #101 "cli.js should output internal issues only once"
solium `lint()` and `lintAndFix()` will send back internal issues (deprecation warnings, etc) for every code they lint.
This means cli will keep printing these for every file in the codebase that gets linted. Ensure these are only printed ONCE and on top.

Also decide how to handle these internal issues (especially depr. notices) in tests

[2017-08-16 19:47] travs opened #102 "Parsing error: return value on next line"
Version:
Seems to be `solparse@1.2.2`, though I only see `1.2.0` in the project's repo.

What happens:
Having a linebreak between the `return` statement and the return value seems to confuse the parser.

Input:
[code]

Output:
[code]

Raising this here since I wasn't sure if it should go in the `solparse` fork or the consensys `solidity-parser` repo.
Let me know and I can also move this issue to o

[2017-08-17 08:09] travs commented on #102
[This](https://github.com/ConsenSys/solidity-parser/commit/2dd4fa86635b9b2a81737660bfd634b80345b807) fixes it.
Chatting about  it [here](https://gitter.im/Solium-linter/Lobby?at=59954d802723db8d5eb1ed81).

[2017-08-17 12:07] #102 closed

[2017-08-19 03:57] duaraghav8 commented on #95
Turns out I entirely mis-interpreted this issue.
There's nothing wrong with `switch...case` syntax. The problem is with statements `_size := calldatasize` and `_size := 32`.

Both SP & solparse are written in a way that they only expect var. declarations without `let` keyword to have a function call on the right hand side.

[code]
won't get parsed, but they SHOULD (because solidity official compil

[2017-08-19 04:16] #95 closed

[2017-08-19 07:25] Recmo commented on #7
Special case of the missing block statement, abstract functions also result in false positive:

[code]

[2017-08-19 14:54] Sjors commented on #44
- [ ] require explicit `public`, `private`, `external` or `internal`

See ConsenSys [best practices](https://github.com/ConsenSys/smart-contract-best-practices#explicitly-mark-visibility-in-functions-and-state-variables). Or is there any situation where this is not possible?

[2017-08-19 14:57] Sjors commented on #44
- [ ] a function with `returns` should actually `return` for each code path, and should return the correct type
- [ ] a function without `returns` should not have any `return` statement

[2017-08-20 14:17] duaraghav8 opened #103 "add code coverage"
istanbul ftw

[2017-08-23 08:54] robert-zaremba opened #104 "whitespace rule: false positive for handling () as a function call"
The following code represents false-positive `whitespace` warning:
[code]

[2017-08-23 21:21] travs opened #105 "Make blocking function async"
I'm finding that parsing large solidity files (500+ lines) takes a few seconds, which is fine in and of itself.
The problem is that it seems to be a *blocking* function, which is a little bit of a dealbreaker for the solium linter I have written for Atom, since it blocks the UI and makes the editor pane unusable for a few seconds.

I ran a profile, and it looks like the blocking is coming from wit

[2017-08-23 21:53] adrake33 opened #106 "Assignment operator spacing error bug"
In cases where a function returns multiple values, the error "Assignment operator must have exactly single space on both sides of it" is showing up even when the assignment operator only has single spaces on both sides of it.

Here is a simple example:

[code]

[2017-08-24 07:51] duaraghav8 commented on #105
@travs (My knowledge on Atom plugin dev is 0 but) Shouldn't Atom be providing a way to run your plugin in a separate thread? I'm saying this because I think something like that should be possible because not every plugin is suitable for the main thread (use case- some plugin could simply be doing background clean-ups, so it need not be on main thread at all).

On the other hand, I did realise that

[2017-08-24 08:36] travs commented on #105
@duaraghav8

This is certainly a possible solution to my package's problem. I will try to run `solium.lint()` in a child process and see what happens.

No problem at all. Once you get it laid out tag me in the issue(s) and I can have a look to see if I can contribute :)

[2017-08-25 10:30] duaraghav8 opened #107 "missing location info (start, end) in several nodes of solparse"
after fixing this, create a test that takes all kinds of solidity code and checks all the nodes formed for the mandatory fields (`type`, `start` & `end`)

[2017-08-26 07:35] #107 closed

[2017-08-26 07:47] duaraghav8 commented on #107
@travs a crucial bug has just been fixed in solparse `v1.2.4`, please update if necessary.

[2017-08-28 08:00] travs commented on #107
@duaraghav8 Excellent, thanks for the ping :)

[2017-08-28 21:04] MicahZoltu opened #108 "Recent change resulted in many errors."
It appears that a recent update to Solium (or one of its dependencies) has broken our build.
https://travis-ci.org/AugurProject/augur-core/builds/269321929

Small excerpt:
[code]
Controller.sol:32: https://github.com/AugurProject/augur-core/blob/develop/src/Controller.sol#L32
[code]

I don't see an update to Solium recently, but I do see an NPM update to solparse.  I assume that since Solium doesn

[2017-08-29 02:30] duaraghav8 commented on #97
#108 is a critical bug

[2017-08-29 07:37] Recmo commented on #108
This fixes it for me. I'll put in a PR.

[code]

[2017-08-29 16:56] #108 closed

[2017-08-29 17:03] duaraghav8 commented on #108
@MicahZoltu the most convenient fix for now is to disable the `mixedcase` rule (the bug is strictly limited to this rule only).
I'm still not sure whether simply reverting back to an older solparse version would fix this problem because it seems like this bug existed from way before, only hadn't been discovered yet.

@Recmo Thanks! I've made a few changes to your branch. Your change removed the er

[2017-09-02 19:47] duaraghav8 commented on #67
https://github.com/duaraghav8/Solium/commit/e87567c352f1630102dc95c254138765ba90096d implements this
Thanks Fed!

[2017-09-02 19:47] #67 closed

[2017-09-04 17:24] #101 closed

[2017-09-07 02:15] MicahZoltu opened #110 "indentation warning for function chains."
[code]
However, if I move the semicolon onto the next line the warning goes away:
[code]

[2017-09-10 10:19] duaraghav8 opened #111 "parser crashes when a label is used inside assembly block"
solparse crashes while parsing
[code]

crash at `tag:`

http://solidity.readthedocs.io/en/develop/assembly.html#labels

[2017-09-10 10:38] #111 closed

[2017-09-10 10:42] duaraghav8 commented on #111
cc: @cgewecke

[2017-09-10 14:40] cgewecke commented on #111
Awesome, thanks Raghav!

[2017-09-11 16:38] duaraghav8 opened #112 "parser crashes when using underscore without semicolon in modifiers"
https://ethereum.stackexchange.com/questions/5861/are-underscores-in-modifiers-code-or-are-they-just-meant-to-look-cool

Prior to `v0.4.0`, solidity supported `_` without semicolon in modifiers. Now it is mandatory to use the `;`.

Proposal:

Modify Solparse to allow `_` as well as `_;` in modifiers AND add rule in solium to warn user if they're using underscore without semic.

Allow both because

[2017-09-12 07:47] #112 closed

[2017-09-12 10:30] duaraghav8 commented on #108
The breaking change has been fixed in a new solparse release. Please enable the `mixedcase` rule after updating solparse and let me know if the issue still persists.

[2017-09-12 12:02] duaraghav8 opened #113 "allow option passing in these rules"
allow user to pass options into the following rules via the config (soliumrc):

- [ ] indentation
- [ ] arg-overflow
- [ ] blank-lines
- [ ] variable-declarations
- [ ] quotes

[2017-09-12 15:47] #81 closed

[2017-09-12 17:16] MicahZoltu commented on #108
It _appears_ the new solparse created some new problems for us.  I haven't fully debugged yet, but I'm getting a `comma-whitespace` not found and/or `warning: Incorrect Indentation: make sure only "        " is used as indentation for this line.` (it is).  We are currently running a fork of Solium to address some other bugs, so it is possible that we need to merge in recent changes to this repo in

[2017-09-12 17:31] MicahZoltu commented on #108
I just tried switching to Solium off of npm.  I'm getting the following error despite https://github.com/duaraghav8/Solium/blob/master/config/solium.json#L39
[code]

[2017-09-12 17:34] duaraghav8 commented on #108
@MicahZoltu checking

[2017-09-12 17:40] duaraghav8 commented on #108
@MicahZoltu (while I'm looking at this prob) as of now ONLY update solparse, do not merge anything from duaraghav8/solium.

[2017-09-12 17:44] MicahZoltu commented on #108
It appears the code we needed has been merged into Solium.  Is the issue that a release has not been cut for Solium since it was merged?  I believe one of the things we added was breaking out the whitespace checks into multiple checks, one of which was `comma-whitespace`.  Is Solium in a state right now where a release can't be cut?

[2017-09-12 17:45] duaraghav8 commented on #108
@MicahZoltu I think I know what went wrong. Can you tell me HOW you updated solparse in your system? Did you use `npm install -g solium`?

[2017-09-12 17:46] MicahZoltu commented on #108
1. rm -rf node_modules
2. npm install solium 0.5.5
3. npx solium --dir src

[2017-09-14 05:06] duaraghav8 commented on #11
Putting this link here for my own (future) reference
https://eslint.org/docs/rules/no-unused-vars#exported

[2017-09-14 10:09] duaraghav8 commented on #87
resolved=)

[2017-09-14 10:09] #87 closed

[2017-09-14 10:09] duaraghav8 commented on #83
WHETHER WE SHOULD IMPLEMENT THIS OR NOT IS STILL UNDECIDED

[2017-09-14 10:11] duaraghav8 commented on #57
This issue is being moved to #28

[2017-09-14 10:11] #57 closed

[2017-09-14 18:57] #45 closed

[2017-09-15 17:53] duaraghav8 opened #114 "Parser is very slow"
For large contracts (eg- https://github.com/oraclize/ethereum-api/blob/master/oraclizeAPI_0.4.sol), solparse is the bottleneck (took ~4 seconds for above file).
This has also been mentioned in #105

Suggestions under consideration
1. Find ways to Make parsing faster (current status: using PEGjs to create parser out of AST spec)
2. Cache the AST & use it for next iteration if file hasn't been chang

[2017-09-18 09:19] mcdee commented on #104
Same error in a slightly different situation:
[code]

(.add, .mul, .div are from safemath).

[2017-09-20 01:05] flockonus commented on #110
Also, also apparently indentation fail for lines starting with underline, such as:

[code]

[2017-09-26 15:56] oed commented on #104
I have the same error when using require:
[code]

[2017-10-05 09:37] dissaranged opened #116 "indention warning on line starting with _"
a correctly indented line of form
_address.transfer(..)
throws an indention warning

the warning disappears when setting the statement in brackets or removing the dash

[2017-10-05 11:11] duaraghav8 commented on #116
@dissaranged thanks for reporting this. 2 of the rules - `indentation` & `whitespace` currently have a slightly flawed implementation. We'll soon be working on fixing these. Until then, you can choose to disable the rule if its flagging too many false positives for you.

[2017-10-06 05:19] duaraghav8 commented on #92
Solium `v1` resolves this issue.
`npm install -g solium@v1-beta`
http://solium.readthedocs.io/en/latest/

[2017-10-06 05:21] duaraghav8 commented on #90
Solium `v1` makes this available.
`npm install -g solium@v1-beta`
http://solium.readthedocs.io/en/latest/

[2017-10-07 06:16] duaraghav8 commented on #74
Thanks to everyone in this thread, `v1` is now in Beta.
We have moved in the ESLint direction. I'd love to hear any feedback anyone might have :)

`npm install -g solium@v1-beta`

https://medium.com/solium/introducing-solium-v1-d2bd0a7fbfb

[2017-10-07 06:16] #74 closed

[2017-10-08 18:34] joeykrug opened #117 "Linter can't handle experimental pragmas"
`pragma experimental ABIEncoderV2;` is what it's erroring over.

Error:
[code]

[2017-10-09 04:35] duaraghav8 commented on #117
@joeykrug Is experimental pragma statement documented somewhere? I couldn't find this feature in Solidity docs, although I did find this [PR](https://github.com/ethereum/solidity/pull/2690) describing `experimental`

[2017-10-09 04:42] duaraghav8 opened #118 "Ignore specific lines if they're marked for it"
Devs should have the ability to mark a line of code with a comment to signal Solium that this line needs to be ignored while linting. No rules (core/plugin) must raise any issues if that line violates them.

[2017-10-09 10:39] joeykrug commented on #117
It’s mentioned on the solidity releases page on github

[2017-10-10 10:01] elenadimitrova commented on #117
I'm getting this error as well, having just switched on the experimental features.
Although not documented in the solc docs, `experimental` was introduced here https://github.com/ethereum/solidity/issues/2346
And these are the current experimental features supported:
https://github.com/ethereum/solidity/blob/1c85ba10e13879f680579031234c911099433596/libsolidity/ast/ExperimentalFeatures.h

[2017-10-10 10:47] duaraghav8 commented on #117
1 thing I haven't been able to verify yet is whether you're allowed to specify multiple feature names in the same exp. pragma statement or not. If yes (in [this PR](https://github.com/ethereum/solidity/pull/2690) it says it does), what's the syntax?
Comma-separated & space-separated don't seem to work (solcjs `v0.4.17`)

[2017-10-10 11:59] elenadimitrova commented on #117
That PR indeed says it does but cannot get some suggestions I thought of to compile and all samples are using separate experimental declarations.

[2017-10-10 14:47] duaraghav8 commented on #117
so axic replied. Only single feature name allowed per statement.

[2017-10-14 04:36] duaraghav8 commented on #103
Now resolved in #119, thanks to the outstanding work of @fvictorio!

[2017-10-14 04:36] #103 closed

[2017-10-14 11:46] fvictorio commented on #75
This is how ESLint does it:

https://github.com/eslint/eslint/blob/6791d189da84bd1a06b326e645f021e4a74bd2e0/bin/eslint.js#L59-L75

It's styll async, but they do it before calling the main `execute` method. Maybe something like that could be done in `bin/solium.js`?

[2017-10-14 12:35] fvictorio commented on #98
Hi, I'd like to help with the tests for the indentation rules, if no one is already working on that. I'm just getting familiar with the codebase, but this seems approachable to me.

Do you manage issues assignments in some way to avoid work duplication? Or is this comment enough to let others know?

[2017-10-14 14:48] duaraghav8 commented on #98
@fvictorio nobody is currently working on it and you're free to take this up. If you do, just let me know and I'll add the `In Progress` tag to this issue.
Thanks for your contributions! You can always DM me on our Gitter Channel or email me in case you have any doubts or suggestions.

[2017-10-15 23:41] rhomeister opened #120 "Fatal parse error on function types"
The following minimal example gives errors when executing solium, but `truffle compile` runs successfully:

[code]

Result:

[code]

Version
[code]

[2017-10-16 10:40] duaraghav8 commented on #117
Support has been added, please run dependancy update for Solium (in case you find it tricky, just re-install the linter).

[2017-10-16 10:48] duaraghav8 commented on #120
Thanks for reporting this @rhomeister

**Below note is for my own reference**
- solparse Node `FunctionDeclaration` needs to accept Function name after modifiers too <-- Verify this first from solidity grammar & empirically
- push update for both v0 & v1 since not a breaking change

[2017-10-16 21:23] fvictorio commented on #98
Cool! Mark it as `In Progress` if you want, I'll start working on it.

[2017-10-17 03:04] kangarang opened #121 "Fatal error"
If I set `camelcase` to `false`, I get a fatal error message when I execute the linter.

`$ solium --dir .` produces this error message:

Here's my `.soliumrc.json`

[code]

[2017-10-17 03:49] duaraghav8 commented on #121
@kangarang Please set it to either "off" or 0 and try again
False is a value you use for v0 config files. Since you're using the v1 format, you can't user Boolean values

[2017-10-17 04:15] kangarang commented on #121
@duaraghav8 ahh i see, thank you. yes, that works nicely.

[2017-10-17 04:15] #121 closed

[2017-10-17 06:58] elenadimitrova commented on #117
Tested on clean CI build and this still persists.

[2017-10-21 23:45] rudolfix commented on #118
That would also fix problems with weird solidity expressions that solparse does not support

[2017-10-21 23:55] rudolfix opened #123 "tuples are not parsed correctly"
this one is valid solidity syntax (first tuple element is ignored, second one is declared earlier)
[code]
however solparse fails as below
[code]

The other, similar case
[code]
Here I think incorrect AST is built, no matter what I do regarding spaces I get this:
[code]

[2017-10-23 06:35] HaleTom opened #124 "Blank line count before "contract" incorrect after a comment"
There are two blank lines, but still there is a warning:
[code]

[2017-10-23 07:23] cheerfyt opened #125 "`--fix` options not working?"
When i do:

[code]

I get:

[code]
[code]

So why the warning not be fixed?

Thanks
cheerfyt

[2017-10-24 03:44] duaraghav8 commented on #125
@cheerfyt the option works as expected.

Fixes for all possible errors have not been implemented yet. Whichever rules have the fix mechanism (for eg- the `quotes` rule does) will apply it. More fixes will be added in future, you can see the [list of rules](http://solium.readthedocs.io/en/latest/user-guide.html#list-of-core-rules) to know which ones are currently able to apply fixes.

So if you see

[2017-10-25 22:31] duaraghav8 commented on #125
closing this issue since it doesn't seem to be a problem.

[2017-10-25 22:31] #125 closed

[2017-10-27 04:05] davesag commented on #7
another example

    other.call('transferFrom', myAddress, this, bond);

results in `WARNING: Function "undefined": in case of more than 3 arguments, drop each into its own line.`

but if I change it to

    other.call(
        'transferFrom',
        myAddress,
        this,
        bond
    );

I get `WARNING: Incorrect Indentation...`

A bit of a catch-22 here.

also while

    event Rejected(C

[2017-10-28 17:40] duaraghav8 opened #127 "plugin: apply all rules by default"
When a plugin is specified in `soliumrc.json` (v1)

[code]

By default no rules are applied currently (You have to specify in `rules` which of the rules of the plugin you need). Change default setting to apply-all, else it gets frustrating for user to keep updating configuration more often

[2017-10-29 16:38] duaraghav8 opened #128 "add ability to reach ancestor nodes from given node"
Currently a rule implementation can (**only**) access the immediate parent of a node it has. Accessing, for example, the grandparent or great grandparent or others is not possible.

[code]

Branch https://github.com/duaraghav8/Solium/tree/SourceCode.findParent has implementation of `findParent()` provided via the `SourceCode` object. But for this function to work, we must be able to access the `pa

[2017-10-29 17:14] duaraghav8 opened #129 "better error reporting in plugin development"
During Plugin dev, if we cause an error to be thrown (for eg `require()` an invalid module), the error is not displayed. Instead solium only displays `Plugin ... is not installed`. This would make it impossible for devs to understand wtf is going on & debug.

[2017-10-30 09:49] duaraghav8 commented on #44
All security-related rules finalized in this thread are being implemented at https://github.com/duaraghav8/solium-plugin-security

[2017-10-31 07:41] #127 closed

[2017-11-02 15:41] duaraghav8 commented on #117
This issue has been resolved in `v1.0.2`.
If you're still using `v0` (run `solium -V` to check), I highly recommend to move to v1.
Its backward compatible & comes with automatic code formatting, more flexible configuration format & security lint rules.
See [docs](http://solium.readthedocs.io/en/latest/)

[2017-11-04 14:40] duaraghav8 commented on #116
Fixed in `v1.0.3`
cc: @nuevoalex

[2017-11-04 14:40] #116 closed

[2017-11-05 06:53] #117 closed

[2017-11-05 09:00] duaraghav8 commented on #131
@Mhdzaff not sure why you posted this. Leads to a `We couldn’t find any code matching...` error on github

[2017-11-05 09:05] duaraghav8 commented on #110
@flockonus Your issue has been resolved in `v1.0.3`.

[2017-11-05 09:50] duaraghav8 opened #131 "check for newer version in background"
during run-time, linter should (occasionally) make http requests to check for newer version available and recommend user to update.

[2017-11-05 09:50] duaraghav8 opened #132 "cli option "--quiet" to only report errors (ie program exit status > 0)"

[2017-11-05 09:51] Mhdzaff commented on #131
https://github.com/jackpal/Android-Terminal-Emulator/search?q=https%3A%2F%2Fgithub.com%2Fjackpal%2FAndroid-Terminal-Emulator%2Fblob%2Fmaster%2Femulatorview%2Fsrc%2Fmain%2FAndroidManifest.xml&type=Code&utf8=%E2%9C%93

[2017-11-05 11:10] duaraghav8 commented on #7
@elenadimitrova configuration is now possible in v1
@Recmo @davesag please install the latest version (1.0.3) and let me know if the issues still persist for you.

[2017-11-05 16:07] duaraghav8 commented on #11
this issue no longer persists since solium does not check state variables for usage any more.
feel free to re-open in case you face this (or something similar).

[2017-11-05 16:07] #11 closed

[2017-11-05 17:23] MicahZoltu commented on #110
Both issues or just the leading underscore one? The label implies that the original issue is resolved, but the comment indicates only the add-on issue is resolved.

[2017-11-06 03:10] duaraghav8 commented on #110
Micah both are fixed. Your issue's fix will be available in the next release (v1.0.4). The label is to help me know which issues to close once the next version is out.

[2017-11-06 10:09] elenadimitrova commented on #117
I no longer get the error however there is an issue with the `import` rule as if you have experimental pragmas at the top of the file followed by imports, it throws:
[code]

If I move the imports at the top of the file followed by the pragmas, it then throws the expected
[code]

The only combination that works is if the `pragma solidity ^0.4.17;` is at the top, followed by the imports followed by

[2017-11-06 10:22] duaraghav8 opened #133 "pragma-on-top false positive"
reproducing from #117

I no longer get the error however there is an issue with the `import` rule as if you have experimental pragmas at the top of the file followed by imports, it throws:
[code]

If I move the imports at the top of the file followed by the pragmas, it then throws the expected
[code]

The only combination that works is if the `pragma solidity ^0.4.17;` is at the top, followed by t

[2017-11-07 01:48] flockonus commented on #110
Thank you @duaraghav8 🎉

[2017-11-07 11:24] duaraghav8 commented on #110
@MicahZoltu 1.0.4 is now out. Also thanks for the suggestion for fixed dependancy versions. Much cleaner!

[2017-11-07 11:24] #110 closed

[2017-11-07 11:25] duaraghav8 commented on #104
Fixed completely in `v1.0.4`, thanks for reporting guys!

[2017-11-07 11:25] #104 closed

[2017-11-07 11:26] duaraghav8 commented on #7
@elenadimitrova configuration is now possible in `v1`
@Recmo @davesag Your issues have been fixed in `v1.0.4` (latest). Thanks for reporting

[2017-11-07 11:26] #7 closed

[2017-11-07 11:35] elenadimitrova commented on #7
Thanks @duaraghav8 ! Confirming this tests ok with custom 2-space rule.

[2017-11-07 11:38] duaraghav8 opened #134 "Parser fails to parse anonymous functions"
[code]

[2017-11-08 01:44] davesag commented on #7
all good. working great now.  thanks.

[2017-11-11 07:01] beaugunderson commented on #118
i started implementing this but am not sure i found the best way... my thought was to create an `ignore` rule that runs on comments and insert those into the context... then in `solium.lint` check the messages array for those with a line number that comes consecutively after one of the ignore messages and discard them

is there an easier/less hacky way?

[2017-11-11 07:02] beaugunderson commented on #118
(there's no bounty for this but it is something the augur team has requested)

[2017-11-11 16:52] duaraghav8 commented on #118
I thought about this problem but haven't been able to find time to fix it (although its on priority)
There is (I believe) a cleaner approach:

- Modify solparse (parser used by solium) to parse and return a list of comments present in the given code. So for eg:
[code]

[code]

A convenience function inside solium allows us to get line & column info just by passing this node.

Using these comment n

[2017-11-13 10:09] duaraghav8 opened #141 "Node EventEmitter: set max listeners"
https://nodejs.org/docs/latest/api/events.html#events_emitter_setmaxlisteners_n

As more rules are added (either core or via plugin), more listeners will spawn up for every AST Node type.

https://github.com/duaraghav8/solium-plugin-security/pull/1 already causes node to warn for `CallExpression` event listener limit exceed.

Need to set max listeners to `INFINITY`

this is not a bug, its just tha

[2017-11-13 17:53] beaugunderson opened #142 "Shareable config for the strict security rules?"
I think it would be nice to have a sharable config that turns on all of the new security rules, so teams can turn off just the ones they don't want and automatically get new ones turned on as they're included (as a way to keep abreast of new best practices)

[2017-11-13 18:01] duaraghav8 commented on #142
@beaugunderson if you simply specify`"plugins: ["security"]` in your soliumrc, then by default ALL non-deprecated rules inside that plugin will be enabled (all security rules are by default specified as `error`).

Any new rule that we add to the plugin WILL be automatically enabled when the user updates solium (provided that they have the `"plugins"` property set).

To turn off or change a specifi

[2017-11-14 01:26] duaraghav8 opened #143 ""quotes" rule only lints over 'string' data types"
need to lint over all other string literals too.
https://github.com/OpenZeppelin/zeppelin-solidity/pull/556

- [ ] import statements
- [ ] pragma (experimental)

[2017-11-14 01:58] duaraghav8 opened #144 "parser interprets `_` as PlaceholderStatement, but `_;` as Identifier."
Fix the latter one.
Also take care of https://github.com/duaraghav8/solium-plugin-security/pull/17 after bug fix

[2017-11-15 09:59] duaraghav8 opened #145 "Reporter: No. of fixes applied (sometimes) reported wrong"
Because a rule could apply (say) 3 fixes all over code but that gets merged into a single fixer packet. So it seems that every rule that DOES apply fix(es) only applies 1 fix.

[2017-11-15 16:53] duaraghav8 opened #146 "UX: Make Issue messages shorter"
Make them shorter, crisper.
Remove redundant words
eg
- [x] `'now' is an alias for block.timestamp which can be influenced by miners to some extent. Avoid usage.` --> `Avoid using "now"`
- [X] `indentation`

[2017-11-16 04:26] duaraghav8 commented on #83
we could take a solc-like approach:
solium.lint({
  "filename": "code",
});

[2017-11-16 16:20] duaraghav8 commented on #142
@beaugunderson does the above resolve your issue or did I miss something?

[2017-11-16 16:23] duaraghav8 commented on #99
dropping idea of this, might reconsider in future

[2017-11-16 16:23] #99 closed

[2017-11-16 16:25] duaraghav8 commented on #76
UPDATE: no need for babel, most the world has moved on to using ES6-supporting nodejs engines. Some parts of solium and solium-plugin-security are already using ES6.
transition will gradually happen over time, but no need for babel :)

[2017-11-16 19:55] beaugunderson commented on #142
@duaraghav8 i think 'everything on' works for Augur, but not sure if it should be default behavior of specifying the plugin, since some of the rules are more draconian (like `no-user-defined-modifiers`)

[2017-11-18 10:03] duaraghav8 commented on #142
you're right. I think we can write a sharable config `solium-config-augur` which augur can use since not all the security are desirable to all devs.

How this will work is
- If you just use solium with default settings, it will apply some security rules and turn off some (especially the [Optional] ones)
- If you apply augur sharable config on top, it applies all security rules. Otherwise you can c

[2017-11-20 09:29] elenadimitrova opened #147 "Functions with return values that also have a modifier throw a 'Fatal Error'"
Functions with return values (sample below) that also have a modifier throw a 'Fatal Error'
[code]
The same function with return value removed passes linting
[code]

Error is
[code]
Using `solium@1.0.4`

[2017-11-20 09:44] duaraghav8 commented on #147
@elenadimitrova I'm not sure if this is syntactically correct. I think Solidity doesn't allow any modifiers AFTER the `returns` modifier.
Try compiling below in remix:

[code]
Now move the `someModifier(_id)` in front of `returns`

[code]

first one compiles, second one doesn't

[2017-11-20 10:20] elenadimitrova commented on #147
Yes you're right, sorry @duaraghav8 It must be a temporary lapse of sanity.

[2017-11-20 10:20] #147 closed

[2017-11-22 17:35] lukehedger opened #148 "Add option for custom config path"
Would be great to be able to specify a custom path for `.soliumrc.json` config files, like:

[code]

Sorry if this already exists and I've missed it.

[2017-11-23 03:31] duaraghav8 commented on #148
This seems like a nice feature, since I've personally felt the need to put all my configs in 1 dir. Will work on it soon

[2017-11-23 17:17] duaraghav8 commented on #148
@lukehedger This option is now available in `v1.0.6`, thanks for suggestion!

[2017-11-23 17:17] #148 closed

[2017-11-23 17:18] duaraghav8 commented on #143
quote rule checks & fixes quotes of `import` statements in `v1.0.6`
cc @azavalla

[2017-11-23 17:18] #143 closed

[2017-11-24 04:59] duaraghav8 commented on #106
`v1.0.7` resolves this, apologies for the delay @adrake33 :)

[2017-11-24 04:59] #106 closed

[2017-11-24 11:49] lukehedger commented on #148
Brilliant, thanks @duaraghav8! 🏎💨

[2017-11-25 05:22] duaraghav8 opened #150 "Experimental features"
This issue tracks experimental features that will be **live in production** but documente on the `Experimental Features` page in docs (so as to warn users).
Each exp. feature will be re-evaluated at the end of its trial.

- Intuitive Util methods to aid rule devs determine node types. PR: #149 Trial ends on: 25th Dec

[2017-11-25 19:41] Cisplatin commented on #150
Just a note: re-writing https://github.com/duaraghav8/Solium/pull/149 soon, it had too many weird merge conflicts since it had been so long.

[2017-11-27 05:12] adrake33 commented on #106
No worries. Thanks, @duaraghav8!

[2017-11-27 13:14] duaraghav8 commented on #123
@rudolfix The assignment operator false positive has been fixed in the latest release (it was an AST error). Looking into your other issue

[2017-11-27 19:00] duaraghav8 commented on #133
fixed in `v1.0.8`
cc @elenadimitrova

[2017-11-27 19:00] #133 closed

[2017-11-27 19:01] duaraghav8 commented on #124
fixed in `v1.0.8`, thanks for reporting this @HaleTom

[2017-11-27 19:01] #124 closed

[2017-11-30 09:02] duaraghav8 commented on #123
Completely fixed in `v1.0.9`, thanks for reporting!

[2017-11-30 09:02] #123 closed

[2017-12-01 14:57] duaraghav8 opened #151 "formatting"
some formatting is required for elegance.
- [ ] Enable eslint's `no-whitespace-before-property` (see `.eslintrc`)
- [ ] Fix indentation of all block comments in the codebase (when we moved from tab to 4 spaces indent, eslint didn't fix indent of block comments. Need to fix)

[2017-12-01 15:00] duaraghav8 opened #152 "not so user-friendly error messages"
`solium -d ./foobar`
If `foobar` doesn't exist, output:
[code]

Need a more user friendly message

[DONE]

[2017-12-03 04:08] duaraghav8 commented on #152
Also, when only `solium` is written on cli, it crashes. Instead, it should print `--help` message

[2017-12-03 06:07] Mridhul40 opened #153 "Truffle integration"
Sorry if this issue has already been raised or discussed before.

We use both truffle and solium for our project but have to run the linter separately before pushing.
@duaraghav8 any chance you can integrate solium into truffle so we **don't have to install or run anything seperetely?** The lint output can be given as part of truffle compile

cc @gnidan

[2017-12-03 06:13] duaraghav8 commented on #153
@Mridhul40 agreed, faced this problem myself.
@gnidan would you be interested in a solium integration? Since the linter comes as a js library, its easily pluggable. I could find time to submit a PR

[2017-12-03 13:16] duaraghav8 commented on #141
idea dropped for now, linter seems to work fine. gotta investigate why that warning showed up one time though.

[2017-12-03 13:17] duaraghav8 commented on #132
dropping idea until somebody actually requires it

[2017-12-03 13:17] #132 closed

[2017-12-06 02:30] duaraghav8 commented on #152
Also, when we specify a plugin rule that couldn't be found, the error produced is `Cannot read property 'meta' of undefined`. Should be more friendly like `Rule plugin/blahblah does not exist.`

[2017-12-08 12:57] satyrius opened #154 "Configurable indent size"
Why is indention 4 spaces? Solidity code looks more like JavaScript and it's 2 spaces indention usually. Look at OpenZeppelin contracts, they use 2 spaces as well https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/contracts. Why not make this configurable?

[2017-12-08 13:01] satyrius commented on #154
Sorry. I found this setting right after posting the question.

[code]

[2017-12-08 13:01] #154 closed

[2017-12-08 13:04] duaraghav8 commented on #154
was about to point the same! The latest version of solium is 1.0.9, so please use that and let me know in case you face any issues.

[2017-12-08 16:08] duaraghav8 commented on #152
Also, add different type of reporters (https://eslint.org/docs/user-guide/formatters/)

[2017-12-12 15:46] duaraghav8 commented on #118
@beaugunderson Comment-based disabling is now available in beta - https://github.com/duaraghav8/Solium#configure-with-comments-beta

[2017-12-12 15:46] #118 closed

[2017-12-14 20:23] StefH opened #155 "Typo in error message (succeded should be succeeded)"
See https://github.com/duaraghav8/Solium/blob/ecbdfe58c8fac02c57cf35bbd2ffe64a62971f83/lib/rules/blank-lines.js#L70

This should be:
`FunctionDeclaration must be succeeded by 1 blank line`

[2017-12-15 03:40] duaraghav8 commented on #155
Thanks @StefH

[2017-12-20 15:20] svenstaro opened #157 "Please tag releases"
Currently you're not tagging releases but I think that would be quite helpful.

[2017-12-20 16:35] duaraghav8 commented on #157
Great idea, will learn more about how tagging works & start using it next release onward :)
(Keep issue open until I close it myself after first tagged release)

[2017-12-27 23:16] LefterisJP opened #159 "Make solium less opinionated by default as far as styling is concerned."
Hey,

I recently integrated solium to emacs solidity mode. It's great but also rather opinionated. It follows a particular style whoever wrote solidity's read the docs liked (camelcase) and makes anything else appear as errors or warnings.

I know that these can be configured and turned off but it would be better if the user could avoid style suggestions unless requested. I find it annoying to hav

[2017-12-27 23:25] LefterisJP opened #160 "Security/no block members"
I see that solium complains with an `error` for `block.timestamp` or for `now`.

The maximum tolerance that the timestamp can have for seconds in the future [is 900](https://github.com/ethereum/wiki/blob/c02254611f218f43cbb07517ca8e5d00fd6d6d75/Block-Protocol-2.0.md). The protocol checks for this. So yes a very incentivized miner could manipulate this value but only within limits and for many case

[2018-01-01 07:10] duaraghav8 commented on #159
Agreed, I believe the solidity style guide's rules are more suited as an optional ruleset (the current default ruleset is `solium:all` that you see in your `.soliumrc.json` which basically applies all the rules).

IMO here is how we can improve the linter:
- Add rules for all the different types of styles (snake, camel, etc) - all disabled by default.
- Allow user to enable/disable rules based on

[2018-01-03 13:26] dev-matan-tsuberi opened #162 "Solium lints incorrectly on windows."
Running `yarn solium` on windows 10 and on a docker container with Ubuntu installed yields very different results.

Reproduce:
`$ git clone https://github.com/daostack/daostack.git`
`$ cd daostack`
`$ yarn`
`$ yarn solium`

On windows: 47 errors, 205 warnings found.
On Ubuntu: only 5 warns

[2018-01-03 13:53] duaraghav8 commented on #162
Could you please produce the following for both win & ubuntu:

- Command used to lint your file(s) (or whether you're using solium as an IDE extension)
- `.soliumrc.json` & `.soliumignore`
- Solium version (`solium -V`)
- screenshot of outputs

[2018-01-03 16:26] duaraghav8 commented on #157
https://github.com/duaraghav8/Solium/releases/tag/v1.1.1

[2018-01-03 16:26] #157 closed

[2018-01-03 16:28] duaraghav8 commented on #160
fixed in https://github.com/duaraghav8/Solium/releases/tag/v1.1.1

[2018-01-03 16:28] #160 closed

[2018-01-03 16:46] LefterisJP commented on #160
thank you!

[2018-01-04 15:37] dev-matan-tsuberi commented on #162
* No IDE extension, same exact command on both `yarn solium`

`soliumrc.json`:
[code]

`.soliumignore:`:
[code]

* `yarn solium -V` - `1.1.0`
* screenshots:

windows:

![image](https://user-images.githubusercontent.com/33967618/34570768-6b47a728-f175-11e7-9bd2-69dc22373bcc.png)

inside docker node (`docker run -it node /bin/bash`):
![image](https://user-images.githubusercontent.com/33967618/345709

[2018-01-04 17:35] duaraghav8 commented on #162
@dev-matan-tsuberi **The output you see on Ubuntu is the correct one.**

## Problem
You must've noticed that all (false positive) issues in windows stem from the whitespace-related rules - `blank-lines`, `indentation`, `whitespace` - they all analyse linebreaks in your code. Line break characters are usually different in un Unix (`\n`) and Windows (`\r\n`) and I should've accounted for the latter

[2018-01-04 17:39] GabrielAlacchi commented on #162
@duaraghav8 PR #161 should fix the blank-lines rule for windows, since I changed the regular expressions to account for the `\r\n` line endings where necessary.

[2018-01-16 15:23] duaraghav8 opened #163 "Add formatters"
just like eslint's formatters - https://eslint.org/docs/user-guide/formatters/

[2018-01-16 15:26] duaraghav8 commented on #153
This issue is being worked on by @UtkarshGupta-CS

[2018-01-16 15:56] #146 closed

[2018-01-16 17:05] #97 closed

[2018-01-16 17:07] #76 closed

[2018-01-16 17:11] #1 closed

[2018-01-16 17:17] duaraghav8 commented on #142
security plugin is now configured to only enable general purpose rules by default - https://github.com/duaraghav8/solium-plugin-security#list-of-rules

[2018-01-16 17:17] #142 closed

[2018-01-16 17:30] duaraghav8 commented on #34
Moving this issue to Solparse - https://github.com/duaraghav8/solparse/issues/24

[2018-01-16 17:30] #34 closed

[2018-01-19 17:28] duaraghav8 opened #164 "Don't exit on parse error"
A single parse error in 1 file causes Solium to stop linting entirely - this is a bit inefficient. Let solium CLI fail with exit code > 0 in case of parse error in a file, but lint other files just normally.

This obviously only works when solium is linting over a directory. If over just a single file, exiting process is the logical thing to do.

[2018-01-20 09:40] duaraghav8 commented on #159
v1.1.3 introduces the `solium:recommended` ruleset - https://github.com/duaraghav8/Solium/blob/master/config/rulesets/solium-recommended.js.

Would love to hear you out in case you have more feedback.

[2018-01-20 09:40] #159 closed

[2018-01-20 09:40] duaraghav8 commented on #152
v1.1.3

[2018-01-20 09:40] #152 closed

[2018-01-20 14:53] duaraghav8 commented on #164
Instead, the parse error just gets displayed as a normal issue (just like every other issue).

[2018-01-21 05:52] duaraghav8 opened #165 "CLI: add --rule option"
Similar to Eslint's `--rule` option - https://eslint.org/docs/user-guide/command-line-interface#--rule

[2018-01-21 06:22] duaraghav8 opened #166 "necessary refactor"
Some modules of Solium are written using old-fashioned techniques which make the code less understandable & maintainable. Listing them below. Would be great if they could be re-written (possibly from scratch) such that they provide the same functionality (pass all tests) but are much cleaner in implementation, should use ES6 features & more object-oriented. I can't take this up any time soon, hopi

[2018-01-21 06:58] duaraghav8 opened #167 "todo in docs"
Under `Developer Guide`, we need to add the list of Exceptions thrown by `Solium.lint()` & `Solium.lintAndFix()` and the circumstances under which they're thrown. Also, the examples showing how to use Solium programmatically must contain lint() methods inside `try...catch` blocks to make devs aware that there will be exceptions.

[2018-01-22 05:25] idrabenia opened #168 "License Violation: Add copyright of Protofire to Solium"
Hi @duaraghav8 ,

You copy file `comment-directive-parser.js` from project https://github.com/protofire/solhint, file https://github.com/protofire/solhint/blob/master/lib/comment-directive-parser.js.

Please add copyright of Protofire according MIT license to the Solium.

Best Regards,
\- Ilya

[2018-01-22 05:38] duaraghav8 commented on #168
Hi @idrabenia,
Having the same file name doesn't qualify as copying. Plus I anyway didn't copy your code, I wrote my own after exploring how different tools (including solhint) solve the problem of comment directives. If that counts as copying, I'd be more than happy to give you credits, just point me to the right clause in the MIT license that defines this thing as copying.
Hope that clarifies

[2018-01-22 05:38] #168 closed

[2018-01-22 05:40] idrabenia commented on #168
Ok, I will contact Github owners

[2018-01-22 05:42] idrabenia commented on #168
We will write blog post on medium that you steel code instead of develop your own.

[2018-01-22 05:47] idrabenia commented on #168
You may say all that you want - but community will see and compare.

Our company make all possible for this.

[2018-01-23 04:00] duaraghav8 opened #169 "rules to improve"
- [ ] `indentation` - doesn't lint for indent inside the `assembly` block

[2018-01-23 16:45] chriseth commented on #120
Note that this is valid syntax, it is a declaration of a variable of function type. The derivation path in the grammar touches VariableDeclaration, then TypeName, then FunctionTypeName.

[2018-01-24 05:14] duaraghav8 commented on #134
correction: these are not actually anonymous functions but rather function types - a data type.
see https://solidity.readthedocs.io/en/develop/types.html#function-types

[2018-01-26 15:17] duaraghav8 commented on #153
https://github.com/UtkarshGupta-CS/truffle-security

[2018-01-26 15:17] #153 closed

[2018-01-28 16:43] duaraghav8 opened #170 "add --fix-dry-run"
The `--fix-dry-run` option is exactly what it sounds like - it simply prints a report about what all fixes solium is going to apply instead of actually writing over files. This gives the user a **diff** between current code & what it would look like after applying the fixes.

[2018-02-08 17:23] duaraghav8 commented on #141
This does need fixing.
https://github.com/elopio/solium-plugin-zeppelin/issues/16

[2018-02-08 17:42] duaraghav8 opened #171 "Add option to dump stack trace (especially handy for Plugin developers)"
- What's the best (industry standard?) way of doing this? `--stack`? `--verbose`/`-v<Level>`?

[2018-02-09 19:46] dev-matan-tsuberi commented on #162
Is this being fixed?

[2018-02-10 04:16] duaraghav8 commented on #162
@dev-matan-tsuberi It has been partially fixed in the latest release (blank-lines shouldn't give you trouble any more) and will be completely fixed in the upcoming release (4-5 days)

[2018-02-11 15:59] duaraghav8 opened #172 "replace dependency js-string-escape with ES6's String.raw"
eg-

[code]

produces `\\r\\n` - properly escaped.

No need for additional dependency now.

[2018-02-14 18:25] duaraghav8 commented on #134
v1.1.5 adds support for function data types, this issue is resolved.

[2018-02-14 18:25] #134 closed

[2018-02-14 18:26] duaraghav8 commented on #120
v1.1.5 adds support for function data types, this issue is resolved.

[2018-02-14 18:26] #120 closed

[2018-02-14 18:27] duaraghav8 commented on #164
v1.1.5

[2018-02-14 18:27] #164 closed

[2018-02-14 18:28] duaraghav8 commented on #162
v1.1.5 fully resolves this issues. @dev-matan-tsuberi I no longer get any unexpected issues on my windows machine.
Please let me know if the issue still persists for you.

[2018-02-14 18:28] #162 closed

[2018-02-22 11:47] popra opened #173 "Parsing fails on win10 if contract has unix line endings"
Fatal error on Windows 10 with git bash if contract has unix line endings (`\n`):
[code]

It works however if contract file is converted to dos line endings (`\n\r`):
[code]

Expected behavior is for solium to work regardless of contract file line endings.

[code]

[2018-02-22 12:09] duaraghav8 commented on #173
@popra Could you produce your Solidity code here if possible?

[2018-02-22 12:16] popra commented on #173
As far as I can tell it happens with any contract.
Not the contract from the initial post, but the issue reproduces with this one too (`Migrations.sol` from truffle):

[code]

[code]

breaks with unix line endings:
[code]

[2018-02-22 12:28] duaraghav8 commented on #173
I just ran solium on both variations of the code (`\n` and `\r\n`) and there were no issues. I'll try the same with `dos2unix` utility though.

Would you happen to know whether dos2unix converts `\n` to `\r\n` or `\n\r` (ie, is the carriage return before or after \n)?

[2018-02-22 12:37] popra commented on #173
AFAIK, dos2unix converts `\r\n` to `\n`.

One thing tho, the issue happens on a win10 system where the default system line ending is `\r\n` on a file that has `\n` line endings.

I'm by no means familiar with the code base, so please take this with a grain of salt, but one problem might be here `https://github.com/duaraghav8/Solium/blob/master/lib/utils/source-code-utils.js#L129`. I assume EOL is

[2018-02-22 12:45] duaraghav8 commented on #173
Ah! I think I know why you're facing this issue!
You're trying to run solium over a file with unix line ending on a windows machine. Am I correct?

The `EOL` comes from nodejs (https://github.com/duaraghav8/Solium/blob/master/lib/utils/source-code-utils.js#L8)
[code]

On windows, above code always returns `\r\n`, whereas you're trying to lint over `\n`, hence the failure.

I'll fix this to **allow

[2018-02-22 12:47] popra commented on #173
And thank you for the nice project!

[2018-02-23 02:17] jashmenn opened #174 "security/enforce-explicit-visibility --fix defaulting to public seems dangerous"
I realize this is subjective, but if one runs `--fix` the `security/enforce-explicit-visibility` rule changes methods to `public` automatically.

In my opinion it ought to default to `private` or not fix at all. Fixing automatically to `public` seems like a risky behavior in the case where it goes unnoticed.

[2018-02-23 04:31] duaraghav8 commented on #174
I fully agree with you, but I think you're slightly mis-interpreting the purpose of this rule.

It exists to only make sure that the developer has specified a visibility to a function. If none is specified, Solc will treat the function as `public` by default (see [docs](http://solidity.readthedocs.io/en/develop/contracts.html#visibility-and-getters)). So this rule merely puts `public` visibility t

[2018-02-23 12:38] duaraghav8 commented on #114
https://github.com/duaraghav8/solparse/commit/4836145cf3a70fdf66fee55e79314acadbf29379

[2018-02-24 12:25] ritave opened #175 "operator-whitespace returns a false positive on line-broken operators"
Example:

[code]

Errors out on `&&` on each line with `Single space should be either on both sides of '&&' or not at all.`

[2018-02-24 13:20] duaraghav8 commented on #175
Could you please tell me your Solium version?
`solium -V`

[2018-02-24 14:52] ritave commented on #175
[code]

Happy to help

[2018-02-25 12:25] duaraghav8 opened #176 ".soliumignore file shouldn't be mandatory"

[2018-02-27 18:35] antogh commented on #106
I have exactly the same problem reported in the 1st post
I am using compiler soljson-v0.4.20+commit.3155dd80.js
Any help to silence this buggy warning?
Thanks

[2018-02-27 18:51] duaraghav8 commented on #106
@antogh Most likely this is happening because your VSCode extension is using an older version of Solium, since this bug has already been resolved.
Most people have found https://github.com/beaugunderson/vscode-solidity-extended/issues/3 to be helpful.

[code]

[2018-02-28 17:01] antogh commented on #106
Thanks, @duaraghav8
I will try your suggestion asap and possibly update the result here

[2018-03-12 14:56] ybabel opened #177 "parse "emit" directive"
When an event is triggered, now, the prefered syntax is to prefix it with an "emit".
But that makes the solium parser fails. It raises :

[2018-03-13 08:42] duaraghav8 commented on #177
Thanks for reporting @ybabel
This issue was also recently opened on Solium's solidity parsing engine (https://github.com/duaraghav8/solparse/issues/29). The fix will be available in the next version (3-5 days). I'm closing it here and tracking it in solparse's issues.

[2018-03-13 08:42] #177 closed

[2018-03-20 19:43] ritave commented on #175
Additional info (red herring?) - might be due to mixed line endings in file.

[2018-03-21 15:09] duaraghav8 opened #178 "desired ast-util methods for rule development"
This is a list of utility methods that will make rule development much easier and will avoid re-inventing wheels inside rule implementations:

- get `N`th parent of the given node
- get enclosing `contracts`/`library` of the given node

[2018-03-21 15:27] duaraghav8 opened #179 "rules should be applied in parallel"
currently, all rules are being applied synchronously.
this introduces asynchronous model in solium (until now all things are sequential)

[2018-03-22 20:48] elopio opened #180 "Error message on function-order rule is misleading"
Let's say I have this contract:
[code]
If I run solium there, it should fail because external functions should go before public functions. solium indeed fails here, however, the error message says:

`external function(s) should appear after fallback function(s).`

This is very confusing, because my contract has no fallback functions. I thought solium was parsing a fallback function by mistake some

[2018-03-22 20:50] elopio commented on #180
It seems very hard to craft the right message that will fit all the possible contracts, which are likely to not have all the types of function. Maybe, an easier solution would be to just say something like:
`The order should be: constructors, fallback, external, public, internal and private.`

[2018-03-22 21:26] elopio opened #181 "solium doesn't check the case of state variable declarations"
Solium is not checking the case of state variables.

A contract like this one:
[code]
should fail because the variable should be helloWorld. But Solium is not catching it.

[2018-03-26 10:52] duaraghav8 commented on #141
Has been set to `35` right now, which should be enough. Will increase it if & when required.

[2018-03-27 10:10] #181 closed

[2018-03-27 10:12] duaraghav8 commented on #114
Solved in 1.1.6

[2018-03-27 10:12] #114 closed

[2018-03-27 10:13] duaraghav8 commented on #141
Solved in 1.1.6

[2018-03-27 10:13] #141 closed

[2018-03-27 10:13] duaraghav8 commented on #180
Solved in 1.1.6

[2018-03-27 10:13] #180 closed

[2018-03-27 16:09] elopio commented on #180
Thank you!

[2018-03-27 22:02] elopio opened #183 "request: a rule that checks if a function is constant"
The `constant` keyword for functions is deprecated, and we should use `view` instead. It would be nice to have a rule that checked for this and suggested the rename.

[2018-03-31 17:17] skozin opened #184 "Indentation error message is misleading"
My `.soliumrc.json` file looks like this:

[code]

As you can see, I enforce indentation by 2 spaces. It lints correctly, but, when some line breaks the 2-space indentation rule, the error message is the following:

[code]

In the [source code of the rule](https://github.com/duaraghav8/Solium/blob/407febe/lib/rules/indentation.js#L54) I see the logic for setting this error message in accordance wi

[2018-04-01 12:00] mushketyk commented on #170
Hey, @duaraghav8 I would like to implement this.
Does it mean that `applyFixes` should now return different output? Say something like:

[code]

[2018-04-01 12:17] mushketyk commented on #170
@duaraghav8 On the other hand... Should Solium output applied diff in both `fix-dry-run` and `fix` modes?

[2018-04-01 12:32] duaraghav8 commented on #184
Hi @skozin. Is it possible for you to produce the code you're running solium on here?

[2018-04-01 12:54] duaraghav8 commented on #170
Hi @mushketyk, that's great to know!

1. When you pass code & config to `Solium.lintAndFix()`, it returns somethig like
[code]

This result object gets passed to [cli.js](https://github.com/duaraghav8/Solium/blob/master/lib/cli.js). It is this **cli.js that actually writes to the target file** (see https://github.com/duaraghav8/Solium/blob/master/lib/cli.js#L93).

The solium library doesn't intera

[2018-04-01 21:08] mushketyk commented on #170
@duaraghav8 Everything seems clear now. I've created a PR.

[2018-04-01 22:49] mushketyk commented on #165
I can implement this. Should the command with the `--rule` flat look like this:

[code]

[2018-04-02 14:56] mushketyk commented on #178
I've implemented the `getNthParent` method, but it won't work with the current implementation of the `sol-explore`. If I understand it correctly the problem is that `sol-explore` incorrectly identifies parent references.

The solution is pretty simple:

[code]

This is because the `isASTNode` expects two parameters:

[code]

[2018-04-02 19:16] mushketyk commented on #171
@duaraghav8 `--verbose`/`-v` seems like a more flexible option.

[2018-04-03 10:44] duaraghav8 commented on #165
Yes, that is correct. Please let me know if you face any issues

[2018-04-03 11:05] duaraghav8 commented on #171
@mushketyk Yes. But I'm not very keen on also adding `-v` (because the uppercase `-V` is short for `--version`). It causes confusion.

Also, since this verbose info is aimed at developers (and not users), I also thought that `--dev` could be a suitable flag name. Because right now, its just stack traces. Eventually, verbose info will include all content being printed on screen that may be useful t

[2018-04-04 07:43] mushketyk commented on #176
It seems to be optional now:

[code]

it does not throw an exception and only outputs a warning.

[2018-04-04 07:48] mushketyk commented on #171
@duaraghav8 It can also be `--debug` or `--stacktrace` as in Gradle CLI. I think `--debug` can be useful for developers, while the proposed `--verbose` flag may be used to output more information useful for users.

[2018-04-04 17:34] duaraghav8 commented on #176
I must've forgotten to close this issue, thanks for pointing out.

[2018-04-04 17:34] #176 closed

[2018-04-04 17:36] duaraghav8 commented on #171
You're right. `--debug` is the most suitable option for dumping stack traces (and other developer-friendly info).

[2018-04-04 18:39] mushketyk commented on #171
@duaraghav8 `--debug` it is! To avoid merge conflicts, I can implement this once this PR is merged: https://github.com/duaraghav8/Solium/pull/186

[2018-04-04 21:10] mushketyk commented on #128
Isn't this a duplicate of the first item in this issue: https://github.com/duaraghav8/Solium/issues/178 ?

[2018-04-05 07:44] duaraghav8 opened #191 "value-in-payable rule shouldn't enforce payable modifier on private & internal functions"
declaring a `private` or `internal` function as `payable` results in compilation error.
`value-in-payable` rule shouldn't flag them even if they're using msg.value.

[2018-04-05 10:07] mushketyk commented on #191
Will fix today.

[2018-04-05 10:29] mushketyk commented on #179
@duaraghav8 I have stupid question. How can we execute rules in parallel if NodeJS is single-threaded? Start parallel processes?

[2018-04-06 03:34] duaraghav8 commented on #191
Thanks!

[2018-04-06 05:04] duaraghav8 commented on #171
Great @mushketyk! Please go ahead and implement `--debug`, #186 is going to take some time before merging so I'll take care of conflicts.

It'll take time primarily because so far, everything in solium was being done synchronously and I'm planning to parallelise your version check code so it doesn't block the linting. I'll handle this so you need not worry about any conflicts.

[2018-04-06 19:59] mushketyk commented on #44
I was thinking about implementing this rule, and it seems that to avoid false positives we should keep track of all variables of type `address` and then check if method `send` is called on any of them. But if we are processing a contract that inherits from other contracts we would first have to get all variables of type `address` in all parent contracts. To do this, we need to ensure that a rule i

[2018-04-07 06:49] duaraghav8 commented on #44
@mushketyk you're not overthinking. There are several rules which are on pause because of this problem of Solium only being file-aware instead of projects-aware, ie, at any given time, a rule only has context of 1 file whereas it should have context of the entire project so any external elements can also be considered. This problem is well documented in #83

Let's keep this rule on hold for now, b

[2018-04-14 13:57] duaraghav8 commented on #128
yes it is

[2018-04-14 14:01] duaraghav8 commented on #179
@mushketyk no need for parallel processes.  So far, all things in Solium are running synchronously. We could exploit Node's async nature to execute all rules in parallel.

Basically how I imagine this be done is using `Promise.all()` - which basically executes all functions provided to it in parallel. All these functions must return promises & once all of them have resolved, we can display results

[2018-04-20 20:36] k06a opened #197 "Support new constructors (0.4.22)"
[code]

[2018-04-21 03:57] duaraghav8 commented on #197
@k06a thanks for notifying, I'll make this available in the next release (~1 week)

[2018-04-21 06:35] duaraghav8 opened #198 "ensure all rules operating on constructor function account for ConstructorDeclaration too"
#197
https://github.com/duaraghav8/solparse/commit/ff92d9920a5489a8aa0661dd97ea7eb119208f42

the new solidity feature `constructor()` is an alternative way of defining a contract's constructor function. Relevant Rules need to account for this new way that is also acceptable by solparse.

[2018-04-23 15:36] favadi opened #200 "Release package on Snap Store"
I see the snapcraft.yaml already exists, should we enable uploading the snap package to Snap Store?

[2018-04-26 11:24] duaraghav8 commented on #198
All rules except for those listed in #169 have been modified for this, remaining rules are huge and complex and in some cases, brittle. Will hopefully fix them too in the near future.

[2018-04-26 12:53] YuichiNukiyama commented on #28
I published [gulp-plugin](https://www.npmjs.com/package/gulp-solium) 😄

[2018-04-26 13:12] duaraghav8 commented on #28
@YuichiNukiyama This look great!

[2018-04-30 10:24] duaraghav8 commented on #183
v1.1.7 fixes this, thanks for reporting

[2018-04-30 10:24] #183 closed

[2018-04-30 12:14] elenadimitrova opened #201 "Experimental pragma generates warnings"
Since [solc 0.4.21](https://github.com/ethereum/solidity/releases/tag/v0.4.21) `pragma experimental` no longer generates solc compiler warnings while with `solium 1.1.7` it still does:
[code]

[2018-04-30 13:32] duaraghav8 commented on #201
@elenadimitrova this is intentional. The rule itself is also highly debatable, since using experimental features goes against good practices but some contracts can simply not function without them so they have no choice but to use them.
If you'd like to avoid this warning, please disable `no-experimental` (either in soliumrc or through comments).
Hope that clarifies?

[2018-04-30 13:34] duaraghav8 commented on #201
I also just realized that I forgot to mention in the release notes that `no-experimental` was released in v1.1.7.

[2018-04-30 14:03] elenadimitrova commented on #201
I would have agreed with this before `solc@0.4.21` but those release notes will be contradicting with `solium` output, namely:

[2018-04-30 14:49] duaraghav8 commented on #201
ah, I see. Since the release itself recommends its use in prod, I'll modify the rule to not flag experimental pragmas.

[2018-04-30 18:21] duaraghav8 opened #202 "blank lines: make the default recommended gap 1 blank line instead of 2"
- This is a breaking change, so need to first plan out the appropriate way to release
- I'm open to discussion & voting on this

[2018-05-10 17:29] elopio opened #204 "indentation error message is missleading when parenthesis is in the same line"
I have this code:
[code]

The error it has is that I should move the `);` to a new line. However, the error message is:

`Only use indent of 2 spaces.`

I found this very confusing, and spend a lot of time figuring out where I messed with the indentation.

[2018-05-10 18:35] elopio opened #205 "How to split a long line in the contract declaration"
Here's a question, we have this line:

`contract SampleCrowdsale is CappedCrowdsale, RefundableCrowdsale, MintedCrowdsale {`

It's longer than the maximum length we allow, so it's failing the lint check. But I have no idea how to split it, everything I try gives me worse errors. Any idea?

[2018-05-11 02:49] favadi commented on #200
@elopio should we promote it to stable?

[2018-05-11 06:16] elopio commented on #200
yeah, that would be cool. @duaraghav8 can you please move the v1.1.7 snap to candidate, so we test it a little? You can do this from dashboard.snapcraft.io, no need to install linux.

[2018-05-12 05:44] duaraghav8 commented on #200
@elopio I could only find the beta and edge channels on the release page, so I've released on both of them. Although I haven't finished reading the docs, I believe I will have to wait for some time before it allows me to release to candidate stage?

[2018-05-12 12:35] duaraghav8 commented on #205
So this is exactly the kind of example I had in mind when I changed the default max line length limit to 145 from 79, because there isn't really a great way to split this one up without making it look ugly-ish (IMO).

I saw code lines on 13 & 15 inch screens and 145 seemed to be a decent length limit, because anything above it can easily be split amongst multiple lines without the code looking odd

[2018-05-13 17:10] elopio commented on #205
I think this looks nice:
[code]

or this:
[code]

[2018-05-13 17:13] elopio commented on #205
My preference goes always to 80 chars, because I use byobu with two splits. On my big monitor, I increase the font size to make it easy on my eyes, and 80 is the perfect fit.
Also, the side-by-side diffs on github are more readable with short lines.

But anyway, solium should have no saying on this. If I prefer short lines, it should let me do it.

[2018-05-13 17:15] elopio commented on #200
That's because we have a guardrail that says that the snap is in development. Updated here:
https://github.com/duaraghav8/Solium/pull/206

[2018-05-16 12:59] duaraghav8 commented on #200
@favadi @elopio I've just made the `candidate` release and will test it out on a linux machine. Please let me know in case you guys face any issues.

[2018-05-18 16:38] duaraghav8 commented on #200
Promoted to `stable`. Please re-open issue in case of any problem:)

[2018-05-18 16:38] #200 closed

[2018-05-19 20:14] Gargo opened #209 "Something is broken"
I used truffle framework and it created migrations.sol
Contract is deploed successfully but Solium output:
`✖ [Fatal error] An error occurred while linting over <path>\contracts\Migrations.sol: Line number 23 invalid or out of bounds`.

[2018-05-20 12:34] duaraghav8 commented on #209
@Gargo Could you produce your contract code here (even if it was the migrations.sol that caused the error)?

[2018-05-20 19:27] elopio commented on #200
@duaraghav8 I don't see the snap in stable, which I thing could be because you promoted other architectures and not amd64. I suppose you don't have ubuntu, nor want to get it, so you can add me as a contributor on dashboard.snapcraft.io and I can help you with the releases.

[2018-05-21 01:07] jaycenhorton commented on #197
Issue is persisting for me in 1.1.7
See https://github.com/juanfranblanco/vscode-solidity/issues/72

[2018-05-21 03:17] jaycenhorton commented on #197
Seems I had a rogue solc version installed somewhere. Reinstall solc if this still affects you.

[2018-05-21 05:53] duaraghav8 commented on #200
@elopio My bad, must've missed that out. Did you receive a collaboration invite?

[2018-05-21 17:29] elopio commented on #200
Yes, I am all set. What we are missing are annotated tags, so the `version: git` formats it nicely.
Using annoated tags is a good practice: https://stackoverflow.com/a/4971817/2665322
If you do this for 1.1.8, the release will be a lot easier.

[2018-05-27 03:26] duaraghav8 commented on #197
@jaycenhorton Solium doesn't use solc. Are you still facing any issues or is everything fine now?

[2018-05-27 04:14] duaraghav8 commented on #209
closing this, please re-open if you're facing the issue again with the code.

[2018-05-27 04:14] #209 closed

[2018-05-27 04:23] duaraghav8 opened #211 "Add contribution & PR guidelines"
Things to put in guidelines:

- Use `ES6`. If you see code in solium using es5, its probably old code (when I started writing the linter). Don't follow those bad habits.
- Use `const` instead of `let` wherever possible.
- Avoid the [pyramid](https://cdn-images-1.medium.com/max/1600/1*3lEILqKvoasyVwpdlfVvbw.png) style of closing braces at all costs. Its a maintenance nightmare.
- Be sure to run `np

[2018-05-29 09:28] duaraghav8 opened #212 "Line invalid or out of bounds"
https://gitter.im/Solium-linter/Lobby?at=5b0d14864eaffb692d63ba99

[2018-05-31 14:32] duaraghav8 opened #213 "make solium config files optional"
also make it possible to specify configuration through itself, so you don't necessarily have to `solium --init` first.

https://gitter.im/Solium-linter/Lobby?at=5b0ffdad3759c406277a2b93

[2018-06-01 18:52] maurelian opened #214 "Feature: run solium cli without config files"
I would like to have a way to run solium from the command line, in any arbitrary folder without the `.soliumrc` and `.soliumignore` files, and just the security rules.

ie. When auditing, I’d like to be able to easily do something like

`solium —security /contracts/MyContract.sol`

And I think a lot of ppl would like that too.

[2018-06-02 04:37] duaraghav8 commented on #213
closing this since it has been described in greater detail at #214

[2018-06-02 04:37] #213 closed

[2018-06-08 05:01] elopio opened #216 "Rule for visibility before modifiers"
According to http://solidity.readthedocs.io/en/v0.4.24/style-guide.html:
"The visibility modifier for a function should come before any custom modifiers.".

It would be nice to have a rule to enforce this.

[2018-06-11 17:57] ceresstation opened #217 "Standardize the newline character over codebase"
Text editors use newline characters to signify line breaks in code. In Darwin & Unix, the
newline character is  `\n`  whereas in windows, it's  `\r\n` . When multiple devs are writing code on different platforms, the mix of newline characters makes things more complicated. Solium should enforce a consistent newline character across the codebase.

Keep in mind that a simple string search is not goo

[2018-06-12 16:45] ceresstation opened #218 "Use Solidity’s new style of defining constructors"
Earlier Solidity versions allowed you to create constructors for contracts by declaring a function with the same name as the contract (case-sensitive). This is now deprecated and the recommended way is to use the  `constructor()`  function as seen below.

https://gyazo.com/55b6820bd5f5b886ebbfcad1052780d7

This rule takes no configuration options but should provide a  `fix()`  function. Default se

[2018-06-12 17:41] vaibhavchellani commented on #218
hey @ceresstation @duaraghav8 i would like to work on this , what is the expected result , please describe in as detailed manner as possible .

[2018-06-13 10:56] nemaniarjun commented on #217
Would be interested in doing this. :)

[2018-06-14 14:12] ceresstation commented on #217
@nemaniarjun Fantastic, happy to have you on it, feel free to take the bounty :)

[2018-06-14 17:20] nemaniarjun commented on #217
Okay! I am on it! Can someone point me to an already existing rule so that I have an idea how exactly to write the code?
Like does my code need to open the files? or will it be provided with strings?

[2018-06-14 17:32] nemaniarjun commented on #217
I assume this issue is to make a `Core Rule` as per the documentation [here](http://solium.readthedocs.io/en/latest/developer-guide.html#creating-a-core-rule)?

[2018-06-14 21:47] nemaniarjun commented on #217
Anyways, figured out how to do this :)

[2018-06-15 00:18] nemaniarjun opened #221 "Leftover char during autofix"
Hey!
I recently wrote a core rule for linebreaks-style (https://github.com/duaraghav8/Solium/pull/220)

While testing out the rule I ran into an issue where the last char of the original file is added as the last char of the fixed files.

Since I am working with line endings this is a huge problem.
Truncated Examples for clarity (JSON.stringified)
input:
```"CappedToken(_cap)\r\n    public\r\n  {}

[2018-06-15 08:15] duaraghav8 commented on #217
@nemaniarjun hey, sorry I should've clarified all those doubts for you. But github is not showing me any notifications for the past week, so I'm having a hard time keeping track. In case you have any more doubts just message me on our Gitter channel. I'll begin reviewing your PR

[2018-06-15 09:16] nemaniarjun commented on #217
Its alright! The documentation was good enough, once I found it.
Still was confused about which node type to use (I have no experience with Blockcahin coding, contracts, etc), but I think I got it down correctly in the PR.

[2018-06-18 10:15] davidbanu commented on #218
Still working on it... I will finish soon!

[2018-06-18 20:01] vs77bb commented on #218
@davidbanu Thanks for the update!

[2018-06-20 12:42] nosuchip opened #223 "Incorrect indentation and space detection when using OR operator"
Example contract:

[code]
`soliumrc.json`:

[code]

Execution:
[code]

Specifying `--fix` flag does not actually fix the file. Putting all ORed expressions into the single line fixes the error.

[2018-06-20 16:03] duaraghav8 commented on #223
Thanks @nosuchip for reporting this!
The operator-whitespace issue is a known bug but the indent one is new.
As mentioned in the [docs](http://solium.readthedocs.io/en/latest/user-guide.html#automatic-code-formatting), solium doesn't fix all the issues, although spacing & indent fixes are on the roadmap.

[2018-06-20 16:08] nosuchip commented on #223
@duaraghav8 thanks for reply. I tried to use `fix` as last resort - to understand what formatting is suitable for solium.

[2018-06-20 16:25] duaraghav8 commented on #223
see http://solium.readthedocs.io/en/latest/user-guide.html#list-of-style-rules for which rules provide fix functionality

[2018-06-20 16:30] nosuchip commented on #223
Already tried it. Only way to fix this warning is to join evrything under `bytes32()` to the single line. Meanwhile if change function return type to `uint256` and remove explicit conversion to `bytes32` warning about indentation fixed. IDK how it is related to type specification.

[2018-06-20 18:53] ceresstation commented on #217
Hey @nemaniarjun! I think there are just a couple of other changes @duaraghav8 requested on the PR. Once those are done I can accept the submission and pay out the funds :)

[2018-06-20 18:55] nemaniarjun commented on #217
@ceresstation I made those changes, waiting for @duaraghav8 to review again. :)
No worries, you can accept it once the PR is merged. :D

[2018-06-25 01:58] ceresstation commented on #218
Hi @davidbanu, just wanted to check in on this, just a reminder that there are only two days left on the bounty

[2018-06-25 04:47] raininja commented on #218
if he's not done I've finished it @ceresstation

[2018-06-25 04:52] ceresstation commented on #218
Hi @raininja happy to review any progress you've made towards this. You have a few outstanding issues that progress hasn't been reported on though. Are you able to update those first?

[2018-06-25 05:55] raininja commented on #218
@ceresstation  outstanding issues concerning what exactly?

[2018-06-26 11:41] duaraghav8 commented on #218
@ceresstation Request you to re-open this issue. I'm sure @davidbanu has a good reason for not being able to submit in a PR, let's not block it due to a single claim :)

[2018-06-26 16:01] raininja commented on #218
I'm just salty because I started and finished the code before I realized that there are more than one style of bounty, I thought they were all "contests".

[2018-06-26 18:01] ceresstation commented on #218
@duaraghav8 Issue has been held, it may show up as over the allotted time but submissions can still be made :) @davidbanu how's everything going?

[2018-06-26 18:04] davidbanu commented on #218
@ceressstation, I'm trying my best to finish it as fast as I can... Sorry for any inconvenience that I've produced!

[2018-06-26 18:15] duaraghav8 commented on #218
Thanks! Would be great if we can allow @raininja to send in a PR (if he has implemented the rule)

[2018-06-27 03:29] duaraghav8 commented on #218
@ceresstation @raininja has opened #224. Can we assign it to him?

[2018-06-27 06:46] thecalvinchan opened #225 "Allow for arbitrary order of flags"
Currently, solium expects the file to come as the second argument

`solium -f Contract.sol`

If I want to pass a `--fix` flag, I need to pass it in as the third argument

`solium -f Contract.sol --fix`

However, this can break some CI pipelines where a file is piped in to a command. therefore, I cannot define the command as

`solium -f --fix` and expect it to work.

[2018-06-27 16:31] duaraghav8 commented on #225
Thanks for reporting this @thecalvinchan
I'm not sure I completely understand `a file is piped in to a command`. How does this work? Can you point me to any other tools that provide the same functionality? I'm asking because I've never done this myself, so not entirely sure of the flow.

[2018-06-27 19:47] nemaniarjun commented on #217
@duaraghav8 We can close this now :)

[2018-06-27 23:15] raininja commented on #218
I believe that there has been a misunderstanding here @ceresstation  @duaraghav8 @eayoungs as I was directed to submit the PR, it's been reviewed, and I'm awaiting an answer from @ceresstation.

[2018-06-27 23:43] ceresstation commented on #218
Hi @raininja sorry for the delay, assigning you the issue now.

[2018-06-28 01:49] raininja commented on #218
@ceresstation  No worries! Thanks for handling this.

[2018-06-28 03:02] #217 closed

[2018-06-28 18:05] ceresstation commented on #218
@raininja Sorry, can you apply to start work on the issue and mark the issue as completed? I'll pay you out as soon as that's complete.

[2018-06-29 01:35] raininja commented on #218
@ceresstation done!

[2018-06-29 18:39] mkosowsk commented on #218
@raininja Great work! Pinging @ceresstation for you :)

[2018-06-29 20:11] ceresstation commented on #218
Great work @raininja, just issued payment 🙌

[2018-07-03 03:35] thjnhcolag commented on #214
@duaraghav8

[2018-07-03 11:55] ferittuncer commented on #214
I got crazy looking for this feature today, realized not implemented yet. I need it badly.

[2018-07-03 12:23] duaraghav8 commented on #214
@ferittuncer This issue has a bounty prize now. If you (or a friend of yours) would like to send in a PR, please feel free to do so.

[2018-07-03 21:06] nemaniarjun commented on #214
Would like to work on it, if the first bounty worker leaves this.

[2018-07-04 05:46] KetkiT opened #229 "Solium output gcc format does not give rule name"
If we use command **solium -d . -R gcc** , the output produced does not contain rule name.
However rule name is present for default format pretty .
e.g   57:8    warning    Use emit statements for triggering events.    **emit**

This rule name is not retrieved from gcc format .
Can rule name be added in gcc format as well?

[2018-07-05 02:55] duaraghav8 commented on #94
cc @nemaniarjun (if you're interested)

[2018-07-05 06:59] nemaniarjun commented on #94
I would be interested, but I am busy this week, maybe able to pick this up after the 15th. Also, I would suggest breaking the bounty into smaller parts / or making it a "Co-operative" bounty, which will result in faster work IMO.

[2018-07-06 14:14] gomesalexandre commented on #94
If this is still opened, I could have a look at it this week-end.
I really like what you guys do for Solidity devs experience so that would be a good first contribution to get familiar with the project.

[2018-07-07 15:13] duaraghav8 commented on #229
@KetkiT I've fixed this, rule name will be available in the next release.
Thanks for reporting!

[2018-07-07 20:26] gomesalexandre opened #230 "Way to get the litteral emitted node ?"
Hi @duaraghav8 I'm currently working on the autofixes.

Unfortunately, I am not sure there is a way to get the litteral emitted node i.e the string representation of the code at that point ?
For example, I am trying to create a fixer function for functions order.
Removing the node is an easy task, I can do it like this :
[code]

But do you provide an API to insert the original code somewhere else,

[2018-07-08 05:07] duaraghav8 commented on #230
@gomesalexandre `context.getSourceCode().getText(funcNode)` gives the complete code of the provided node object. After that you could maybe use `fixer.insertTextAt()`

Please read the developer docs http://solium.readthedocs.io/en/latest/developer-guide.html#creating-a-core-rule

[2018-07-08 05:09] duaraghav8 commented on #94
Thanks @gomesalexandre :)
Let me know if you face any problems

[2018-07-08 08:50] gomesalexandre commented on #230
Thanks, exactly what I needed !
I read the docs but for some reason missed this

[2018-07-08 08:51] #230 closed

[2018-07-08 17:21] gomesalexandre commented on #94
- `operator-whitespace` is working, needs tests
- As far as `function-ordering` goes I've spent a few hours on it without success yet.
It is now working, as in not fixing everything in one go, you have to run the command a few times.
My question is, is there a way to directly interact with the array of function node objects and modify their order, then "reinject it" or do you absolutely have to us

[2018-07-08 18:01] duaraghav8 commented on #94
`directly interact with the array of function node objects and modify their order` - No. The number of edge cases to deal with when directly modifying the AST outweigh the benefits, so I never went ahead with it.
I understand the problem you're facing with func order. There seems to be no easy solution to this. The best I can think of will be a nightmare to maintain down the line (I'll be happy to

[2018-07-08 18:16] gomesalexandre commented on #94
I see your point, makes sense. It's always good to have sane abstractions like the `fixer` one. That's also the approach that eslint took and is a way safer and maintainable one.
I'll be happy to hear about that solution, in the meantime I'll check the other rules !

[2018-07-09 05:39] KetkiT commented on #229
Thanks a lot. Can you please tell me when will be the next release ?

[2018-07-09 05:46] duaraghav8 commented on #229
Within this week, I'm in the process of reviewing a few PRs atm.

[2018-07-09 05:50] KetkiT commented on #229
Thank you for quick reply ! All d best !

[2018-07-10 03:51] #214 closed

[2018-07-10 03:52] duaraghav8 commented on #229
1.1.8 is out

[2018-07-10 03:52] #229 closed

[2018-07-10 03:53] duaraghav8 commented on #216
solved in 1.1.8

[2018-07-10 03:53] #216 closed

[2018-07-10 08:46] KetkiT commented on #229
1.1.8 could not be seen in Releases

[2018-07-10 08:51] KetkiT commented on #229
Thanks a lot.

[2018-07-11 07:12] KetkiT opened #232 "Solium fails to continue if one of the file has error"
I am trying to analyze following project git clone https://github.com/oraclize/ethereum-api.git

When I run command solium -d . -R gcc
It failed with following error:

 An error occurred while linting over D:\SolidityProjects\ethereum-api\connectors\oraclizeConnector.sol: getEndingLine(): [ [ 'hex', undefined ],
  { type: 'Literal', value: '', start: 2072, end: 2074 }

After this it stopped and di

[2018-07-11 15:14] duaraghav8 commented on #232
which version of solium are you using `solium --version`?

[2018-07-11 15:22] KetkiT commented on #232
1.1.8

[2018-07-11 15:24] duaraghav8 commented on #232
error originates at this line -> https://github.com/oraclize/ethereum-api/blob/master/connectors/oraclizeConnector.sol#L53

`hex''` <- this notation is not parsed properly by solium's parser. I'm not sure if it is even syntactically correct solidity (if it is, can you point me to the docs?)

Solium should've thrown a parse error instead according to me. This is a bug in parser.

[2018-07-12 20:39] thecalvinchan commented on #225
Hey @duaraghav8, sorry for late reply.

An example would be using something like `lint-staged` to process files

https://github.com/okonet/lint-staged

More specifically, [lint-staged will pass in staged files as args to the specified function](https://github.com/okonet/lint-staged#lintstagedrc-example). As such, I cannot define the command with a `--fix` flag since that will cause solium to proce

[2018-07-13 01:40] mkosowsk commented on #214
@ceresstation is this one good to pay out to @pinkiebell? looks like @duaraghav8 closed the issue a few days back :)

[2018-07-13 09:36] ceresstation commented on #214
@mkosowsk Thanks just saw this! @pinkiebell you're now paid out.

[2018-07-13 11:31] KetkiT opened #234 "Solium failed for windows"
Hello ,
I am executing following command

**c:\ProgramData\Gamma\data\tenants\04cf17a0ff69c6a52aabb70a45611fd3\checkouts\d44
afd7736617e248f5dbd07186cf9dc\src**>solium.cmd  -f  C:\ProgramData\Gamma\data\tenant
s\04cf17a0ff69c6a52aabb70a45611fd3\checkouts\d44afd7736617e248f5dbd07186cf9dc\sr
c\contracts\apps\AppProxyBase.sol -R  gcc

I am getting following error:

[Fatal error] An error occurred whi

[2018-07-13 16:36] duaraghav8 commented on #234
@KetkiT There are known bugs which result in unexpected behaviour in windows environment. We're working toward making Solium cross-platform but until then, I highly recommend you use Solium in a linux or OSX environment (perhaps use a linux docker container to avoid errors for now).

See #173 & #75

[2018-07-13 16:36] #234 closed

[2018-07-14 18:03] gomesalexandre commented on #94
@aerophile I am not sure why this was reopened by the Gitcoin bot, however, it's a collaborative bounty so feel free to take on the rules I haven't worked on 👍
I started work on `function-order` and `operator-whitespace` already (see PR [here](https://github.com/duaraghav8/Solium/pull/231)) so you could start working on the other rules, as I plan to finish these by next week.

[2018-07-14 18:41] nemaniarjun commented on #169
@duaraghav8  This and https://github.com/duaraghav8/Solium/issues/94 Seem very similar. @ceresstation
Can you both figure out how exactly these 2 issues will be done? As there seems to be (a possibility of) redundant work.

[2018-07-15 07:45] gomesalexandre commented on #169
Indeed, they seem to overlap @nemaniarjun

[2018-07-15 21:23] aerophile commented on #94
sure @gomesalexandre, considering that the remaining three items are common to this at #169 It will be better to get inputs from @duaraghav8  before proceeding to avoid redundant work.

[2018-07-16 03:44] duaraghav8 commented on #169
@nemaniarjun @gomesalexandre @aerophile there is no overlap. 1 issue exclusively focuses on the `fix()` function, which is written regardless of how its surrounding code looks like (of course, it needs some info about the solidity code to know what to replace/add/edit).

The other issue focuses on improvement in the sense that the rule itself is written very poorly (for which I am to blame). So it

[2018-07-17 19:40] gomesalexandre commented on #94
@duaraghav8 @aerophile Pushed some more fixes for `operator-whitespace`, I miss a few fixes that I plan on fixing tomorrow, and also finish `function-order` if I have time.
From there, it also means that improving `operator-whitespace` (as part of #169) can be done by whoever wants to !

[2018-07-18 20:42] mkosowsk commented on #169
@writeprovidence with the previous comment, do you have the information and tools you need to solve this issue? :)

[2018-07-19 15:15] writeprovidence commented on #169
@mkosowsk i think i do. will definately ask questions if need be

[2018-07-21 04:32] duaraghav8 commented on #225
@thecalvinchan Ah, I understand the problem. I still haven't fully decided on how best to integrate this, working on it.
In the meantime, I think the `--stdin` option can help with your specific case.
`cat mycontract.sol | solium --stdin`

[2018-07-21 15:48] aerophile commented on #94
@gomesalexandre @duaraghav8  Just an update from my side: Have been reading documentation and really got the gist of what solium is and how rules and fixing work. I really appreciate the architectural choices made in v1.0+ . I think I'll be working on the autofix rules for lbrace and whitespace.

[2018-07-25 09:45] sohkai opened #235 "function-order: have a way for a user to ignore certain functions"
There are a number of cases where one or more functions in a contract may be in a different order than the recommended visibility order due to logical grouping; one example is an `initialize()` being next to a `constructor` rather than after a large number of other functions.

It would be nice to have some way to configure an ignores list, or even ignore a function from the rule if the preceding l

[2018-07-26 15:56] duaraghav8 commented on #235
@sohkai Correct me if I'm wrong. My understanding is that you would like to force `function-order` to NOT report a particular function (like `initialize()`) if it is out of order, right?

If that's what you want, it is already possible. For eg, I just took your `ACL.sol` from `dev` to see which functions were being reported by `function-order`:

[code]

Now if I add `// solium-disable-next-line fu

[2018-07-26 20:14] mkosowsk commented on #169
@writeprovidence just a friendly check-in here 😀 have you had a chance to take a look at this issue?

[2018-07-26 20:16] mkosowsk commented on #94
Hi @gomesalexandre and @duaraghav8, just a friendly check-in here 😀 how are things coming along?

[2018-07-26 20:50] sohkai commented on #235
@duaraghav8 Slightly different; in the case of the `ACL`, I'd like to remove the offenders ([`initialize()`](https://github.com/aragon/aragonOS/blob/dev/contracts/acl/ACL.sol#L61) and [`grantPermissionP()`](https://github.com/aragon/aragonOS/blob/dev/contracts/acl/ACL.sol#L104)) entirely from the rule rather than the functions that are in the right order.

I'm thinking of it as subtracting those f

[2018-07-27 04:29] duaraghav8 commented on #235
I think I got the problem.
Say you have functions
[code]
and you'd like to keep `A` on top, which causes the rule to report the remaining 2 functions because the rule thinks they're not in the right order. The effect of _ignoring_ function `A` means it is **invisible** to `function-order`, so the rest of the functions are seen to be in the right order, so no errors are reported.

Is that correct?

[2018-07-27 09:34] writeprovidence commented on #169
still trying to figure out something

On Thu, Jul 26, 2018 at 8:14 PM, mkosowsk <notifications@github.com> wrote:

[2018-07-27 17:51] gomesalexandre commented on #94
Hey @mkosowsk unfortunately I didn't have time to continue the work on it yet. I'll try to push the two rules' missing autofixes on Sunday night Paris time (in 48 hours essentially), but can't confirm 😞. If I didn't push it by then, feel free to write the remaining fixes, including the ones for these two(you can fork my fork and use that as a basis !)

[2018-07-28 06:47] duaraghav8 commented on #169
@writeprovidence let me know if it's something you aren't able to figure out from the docs

[2018-07-30 10:50] sohkai commented on #235
Yes, that's the idea :pray:!

[2018-08-01 01:24] mkosowsk commented on #94
Hi @aerophile per @gomesalexandre last comment, do you think you have the tools to run with this issue? Thanks!

[2018-08-04 05:53] duaraghav8 commented on #235
Here's the configuration that I'm planning:

[code]

By default, the arrays are empty and `constructor` is set to `false`, which means NO functions are ignored.
If you specify a visibility in `visibilities`, all functions of that vis. are ignored.

[2018-08-09 00:32] nemaniarjun commented on #169
@duaraghav8 Can you tell me which all rules are still open to work on? I finally have some time to do this!
:smile:

[2018-08-10 00:37] sohkai commented on #235
Not entirely sure how solium handles option setting via comments in files (can it?), but it'd be great if this were supported as well on a per-file basis that way.

[2018-08-10 09:27] duaraghav8 commented on #235
Currently not possible, but I can see how per-file configuration is highly relevant in this case. I'll try and add this before next release

[2018-08-13 23:55] ceresstation commented on #94
Hey @aerophile @gomesalexandre just wanted to follow up on this once more, any updates?

[2018-08-21 04:59] duaraghav8 commented on #169
Hey @nemaniarjun, sorry for replying so late. All rules are still open. There was only 1 PR opened a while ago but I it hasn't been worked on for a while so I'll favour another PR over it.

[2018-08-21 16:13] ceresstation commented on #94
Hey @aerophile did you manage to find time to finish this up over the weekend as mentioned?

[2018-08-22 20:55] aerophile commented on #94
@ceresstation I did spend time over the weekend but I'm still on it. I plan to continue.

[2018-08-25 01:00] jaycenhorton opened #236 "Allow solium to `fix` whenever it can when the user saves"
It would be fantastic if solium allowed a user option that automatically runs `--fix` whenever the user saves. Ideally this would be consumable in the same way as [Prettier](https://github.com/prettier/prettier-vscode#format-on-save)

[2018-08-26 17:59] duaraghav8 commented on #236
@jaycenhorton Are you currently using Solium as a command-line utility or as part of a text editor / IDE?
If as part of an editor, then the editor's solium integration is responsible for invoking solium's `--fix` every time a user saves. In that case, this issue needs to be raised with that integration's developers.

Or is there some other way you're thinking about this?

[2018-08-27 18:52] jaycenhorton commented on #236
Currently, I'm using it as both. I run `--fix` before pushing to github, and I use the solidity vscode plugin which is also relying on solium.

I suppose I brought up this issue as more of a feature request/discussion. But it seems if there is no active development on the IDE side, I would assume this would be best opened on that repo?

[2018-08-28 10:54] duaraghav8 commented on #236
This feature is not possible inside the linter itself due to the nature of the application - it is a cli tool (a long-running background process could monitor your code and run fix automatically, but a cli tool needs to be invoked).

In IDEs, the plugin providing Solium's services is what should be monitoring code for changes and running --fix.
For your CLI use case, I think you can automate `--fi

[2018-08-29 02:36] jaycenhorton commented on #236
Thanks @duaraghav8  I'll close this here and perhaps link back where appropriate

[2018-08-29 02:36] #236 closed

[2018-08-29 05:31] duaraghav8 commented on #236
Let me know in case you have any other issues

[2018-08-29 09:46] jackycjh opened #237 "[Feature request] Add "dynamic" option for the rule "linebreak-style""
## Problem encountered

While using a VS Code extension `juanblanco.solidity` (repository: https://github.com/juanfranblanco/vscode-solidity) on a Windows platform, the default rule of `linebreak-style` is unable to determine the OS platform it's running on, when the extension runs the Solium linter.

### Reference

More info at: https://github.com/juanfranblanco/vscode-solidity/issues/86

## Idea

[2018-08-29 13:02] duaraghav8 commented on #237
@jackycjh Actually this rule (or the whole of Solium) doesn't require the `dynamic` option. Ideally, Solium's rules should detect the platform and modify their behaviour.
There are currently bugs in Solium (related to linebreak style) causing it to be incompatible with Windows at the moment. I'd highly recommend you use Solium in a Unix or Darwin environment for now. These bugs are going to take s

[2018-08-29 15:25] jackycjh commented on #237
Noted, thanks for the explanation.

Will look forward for getting Solium works nicely in Windows, hopefully also works in the ideal fashion that it could detect and modify the rule preferences.

[2018-08-30 04:05] duaraghav8 commented on #237
Please feel free to re-open the issue in case you face any other related problem :)

[2018-08-30 04:05] #237 closed

[2018-09-10 19:17] subramanianv opened #238 "Running solium in a browser"
Is there a browerized build for solium ?

[2018-09-11 04:14] duaraghav8 commented on #238
Currently there isn't, I'm working with @yann300 and will hopefully come up with one asap

[2018-09-12 11:20] sohkai opened #239 "Extend visibility-first to also check constants"
Constant definitions should also be checked by `visibility-first` (or an alternative rule) so that their visibility modifiers come first.

[2018-09-14 06:56] duaraghav8 commented on #239
I agree that `visibility-first` itself should check constants too.

But can you tell me how this is beneficial?
Is your use case simply that it is a good practice to enforce visibility on constants too? (If that is the case, then the same may apply to non-const state vars too, although I'm not sure)

[2018-09-14 12:45] sohkai commented on #239
I would agree with this, and in general explicitly stating visibility is a good thing (maybe there should be another rule for `visibility-always`?).

But when stating visibility, it'd be nice if all state and methods had their visibility in the same order (our code base had gotten out of sync where our constants had their visibility defined later).

[2018-09-18 18:42] ceresstation commented on #94
@aerophile Hey there, we haven't heard back from you in a while, are you still working on this?

[2018-09-19 16:06] duaraghav8 opened #240 "quotes rule false positive when string in return() statement"
[code]
nothing special in `.soliumrc.json`, only `"quotes": ["error", "single"]`

produces

`quotes: 'TRUE': String literal must be quoted with single quotes.`

UPDATE: also holds for `var x = ("hello world");`.

[2018-10-11 04:00] oogetyboogety commented on #169
@duaraghav8 is there a special set of rules to indent for assembly blocks? or should they all be indented one level deeper at the same level in the assembly block?
Also, what should be done for the whitespace rules?

Thanks!

[2018-10-11 04:02] oogetyboogety commented on #94
@duaraghav8 is indentation rule still being rewritten?

[2018-10-12 03:35] duaraghav8 commented on #169
ah, sorry I didn't write a proper description for whitespace rules.
currently, they're written very poorly - hacks put together through regular expressions.
what is needed primarily is the refactoring of whitespace rules such that they pass all existing tests, use ES6 and become much more maintainable (ie use good JS practices).

there's no separate rule for indenting assembly, all indentation-rel

[2018-10-12 05:09] oogetyboogety commented on #169
@duaraghav8 Thanks I'll take a look at refactoring the whitespace rule for the tests and try some ES6 best practices that I know of.

is there any specific assembly style indentation/style guide you would like to follow? or should all inline assembly be on the same column, unless there is a label to jump to or an additional block in the assembly, and that's it; an example of this is here:
https://

[2018-10-14 14:00] duaraghav8 commented on #169
All on same column + indentation for labels or blocks (because that is more natural and intuitive for end user)

[2018-10-16 12:52] xlab commented on #232
@duaraghav8 https://solidity.readthedocs.io/en/v0.4.21/types.html#hexadecimal-literals

Shouldn't be an error.

[2018-10-24 22:20] frankchen07 commented on #94
@aerophile - pinging again to see if you're still working on this!

[2018-10-25 23:09] codi45 commented on #94
hi i would like to konw if this bounty is still open?
if yes which rules remains to be implemented?
thanks

[2018-10-26 18:04] frankchen07 commented on #94
hey @duaraghav8, Frank from Gitcoin here, is this issue still open for @codi45?

[2018-10-29 03:36] duaraghav8 commented on #94
@frankchen07 hey even I haven't heard from aerophile so if this issue is not already open but @codi45 is keen on working on it, could you help re-open it on gitcoin? Because I now consider this issue to be open again to hunters

[2018-10-29 14:52] codi45 commented on #94
Hi @duaraghav8  yes  i would like to start and will want  to know the issues because i try the lbrace rule and it is working correctly if the brackets are there or not so i would to know more about the fix.

[2018-10-29 20:22] frankchen07 commented on #94
@codi45 & @duaraghav8 - yep the issue is still open! https://gitcoin.co/issue/duaraghav8/Solium/94/722

[2018-11-06 16:51] ceresstation commented on #94
Hey @codi45 are you still interested in trying out this issue?

[2018-11-12 14:44] ToJen commented on #238
Agreed, my approach has been to use `solhint` which has less features. See this [example](https://github.com/ToJen/chain-stats/blob/master/frontend/src/components/Lint.js).

[2018-11-14 20:01] PaulRBerg commented on #175
You can temporarily silence the error by prepending the statement with `// solium-disable-next-line operator-whitespace`.

[2018-11-22 16:14] roderik opened #243 "[solc 0.5.0] Support calldata"
adding calldata to the _metadata field is required by solc v0.5.0 but solium trips up
[code]

[code]

[2018-11-27 06:02] miguelmota opened #244 "`payable` keyword not working, getting error "Syntax error: unexpected token p""
[code]

[code]

[2018-11-28 19:35] robrobbins commented on #243
+1

[2018-11-29 20:33] eduardonunesp opened #245 "Solium don't support tilde '~' on pragma"
Using `solium` don't support the `~` on pragma version control using the command `solium -d .`

# Error
[code]

# File contracts/Storage.sol
[code]

[2018-11-30 04:35] duaraghav8 commented on #244
@miguelmota Thanks for reporting this. I'm not sure whether `payable` can be used with `address` (or maybe my solidity knowledge is outdated), could you please point me to any official examples or doc on this?

[2018-11-30 04:38] duaraghav8 commented on #245
@eduardonunesp Thanks for reporting, this must have something to do with the parser solium uses, I'll check.

[2018-11-30 07:13] miguelmota commented on #244
@duaraghav8 it's part of 0.5
https://solidity.readthedocs.io/en/v0.5.0/050-breaking-changes.html

[2018-12-07 17:11] nventuro opened #246 "Support for Solidity 0.5.x"
The 0.5.x family of versions adds a couple new keywords (e.g. addresses can now be `payable`, the location of certain parameters must now be explicitly `calldata`, etc.), which Solium isn't able to parse. Are there plans to support these?

[2018-12-15 07:34] Alonski commented on #173
Hey just wanted to say that I would love for this to be fixed :)

[2018-12-18 10:11] elenadimitrova commented on #246
Meanwhile, anyone knows how to switch off the syntax errors this produces without turning off `solium`, completely?

[2018-12-18 18:59] duaraghav8 commented on #246
@nventuro Sorry for the late response. Yes, the plan is to fully support 0.5 by Jan first week. I haven't been able to work on this issue yet.

@elenadimitrova You can't turn off syntax errors. The easiest way is to add those solidity files to `soliumignore`.
But if you're still convinced that having the ability to turn off compile errors is needed, can you tell me your use case?

[2018-12-18 19:08] duaraghav8 commented on #173
@Alonski windows compatibility is one of the biggest issues with the linter. Unfortunately, I don't have a timeline on this because I'm prioritising support for soliidty 0.5 (https://github.com/duaraghav8/Ethlint/issues/246) over everything else right now.

[2018-12-19 07:01] Alonski commented on #173
@duaraghav8 Is this a simple fix that you can point me to so that I can PR?

[2018-12-22 06:16] duaraghav8 commented on #173
This isn't a simple fix. A lot of rules use `\n` (hard-coded) or `require("os").EOL` in their RegExps to validate line endings. When these rules were initially written, I gave little thought to the fact that newline char differs for windows vs. others. I always tested the linter on mac or linux so I can guarantee that it works fine for those platforms.

- `\n` causes the rules to assume that the c

[2018-12-22 13:31] Alonski commented on #173
Ok thanks @duaraghav8 So I guess I won't be attempting this 😅
Hope it gets resolved though eventually. Annoying to develop on Windows :)

[2018-12-25 09:34] duaraghav8 commented on #201
already fixed and released, forgot to close issue before.

[2018-12-25 09:34] #201 closed

[2018-12-26 16:30] duaraghav8 commented on #246
solved in `v1.2.0`

This linter is now being published simultaneously to npm packages `solium` and `ethlint`. Although not mandatory, I highly recommend that you move to `ethlint`.

See [changelog](https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#120-2018-12-25-santa)
Please let me know in case any of the 0.5 features are still causing trouble.

[2018-12-26 16:30] #246 closed

[2018-12-26 16:31] duaraghav8 commented on #244
solved in `v1.2.0`

This linter is now being published simultaneously to npm packages `solium` and `ethlint`. Although not mandatory, I highly recommend that you move to `ethlint`.

See [changelog](https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#120-2018-12-25-santa)
Please let me know in case any of the 0.5 features are still causing trouble.

[2018-12-26 16:31] #244 closed

[2018-12-26 16:31] duaraghav8 commented on #243
solved in `v1.2.0`

This linter is now being published simultaneously to npm packages `solium` and `ethlint`. Although not mandatory, I highly recommend that you move to `ethlint`.

See [changelog](https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#120-2018-12-25-santa)
Please let me know in case any of the 0.5 features are still causing trouble.

[2018-12-26 16:31] #243 closed

[2018-12-26 16:33] duaraghav8 commented on #235
The original feature request for adding ignore option in function-order has been solved in `v1.2.0`. The issue will still remain open because its topic has changed.

This linter is now being published simultaneously to npm packages `solium` and `ethlint`. Although not mandatory, I highly recommend that you move to `ethlint`.

See [changelog](https://github.com/duaraghav8/Ethlint/blob/master/CHANGE

[2018-12-29 06:35] duaraghav8 commented on #245
@eduardonunesp I've fixed this, will close this issue when I make the new release next week

[2018-12-29 09:36] eduardonunesp commented on #245
Thanks @duaraghav8 !

[2019-01-01 07:16] duaraghav8 commented on #221
UPDATE: Turns out that this isn't an issue at all.

- To start, the method `fixer.replaceText(<node>, <text>)` was used in the `linebreak-style` rule's `fix()`. Here, the node supplied was the `ProgramNode`.
- The expectation was that this would replace the entire code because `ProgramNode` encompasses everything. But this is not the case. `ProgramNode` only encompasses till the closing brace `}`

[2019-01-01 07:16] #221 closed

[2019-01-01 14:00] Alonski commented on #173
Thanks a lot @duaraghav8! I can't wait to try this in VSCode to see how it works. Awesome work!

[2019-01-01 15:33] duaraghav8 commented on #173
@Alonski no problem :) Let me know in case you feel its still not fully resolved

[2019-01-01 18:16] duaraghav8 commented on #171
`--debug` option is already live by now, forgot to close this issue earlier.
Thanks for contributing!

[2019-01-01 18:16] #171 closed

[2019-01-01 18:18] duaraghav8 commented on #174
There's no need to make any changes at this point, I'm happy to re-open it in future if a use case emerges. Closing issue for now.

[2019-01-01 18:18] #174 closed

[2019-01-03 02:14] elopio commented on #246
Thanks @duaraghav8 !

[2019-01-03 11:52] dev1644 commented on #94
Hey, @duaraghav8 @ceresstation is this issue still open?

[2019-01-03 12:02] duaraghav8 commented on #94
@dev1644 going by the issue details page, yes it is open. I'd still wait for @ceresstation's confirmation

[2019-01-03 12:18] dev1644 commented on #94
@duaraghav8 Ok, once @ceresstation confirm it, I will start working on it.

[2019-01-03 14:51] PaulRBerg opened #248 "Assembly function definition not working"
Suppose we have the following syntax:

[code]

I get the following error when linting with solium, despite the fact truffle successfully compiles the code:

[2019-01-03 17:03] duaraghav8 commented on #248
Thanks for reporting this @PaulRBerg.
The fix for this will be added in the next release

[2019-01-03 17:31] duaraghav8 opened #249 "CLI: Refactor warning about .soliumignore not found"
~The warning is annoying. `.soliumignore` should be completely optional, but still created when `--init` is run.~
~This is an extension of #176~

Change warning message to
[code]
if the issue is that .soliumignore file was not found

[2019-01-07 17:10] yxliang01 commented on #114
https://github.com/duaraghav8/Ethlint/blob/b2a0c226f6d013524ab2b74f5d2116f71e4150eb/docs/known-issues.rst Didn't update the bottleneck part. Or, is the `solparse` still quite slow?

[2019-01-07 17:21] duaraghav8 commented on #114
@yxliang01 already updated in develop couple of days ago (should've done it ~4 months ago) - https://github.com/duaraghav8/Ethlint/blob/develop/docs/known-issues.rst#known-issues

[2019-01-11 19:02] elenadimitrova opened #251 "False upper case notation check on single char constant name"
**Description**
We are getting false `ethlint` `UPPER_CASE` warnings on constants which names are of a single letter, e.g. `A`, `B` etc.

**Steps to reproduce**
Define a constant and give it a name of a single letter then run `ethlint`. e.g. `uint256 constant N = 1;`

Exact code which is throwing a warning for us atm:
https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/ColonyNetwork

[2019-01-13 11:47] duaraghav8 commented on #175
Resolved in `v1.2.2`.
Sorry this took way too long, but its done now!

[2019-01-13 11:47] #175 closed

[2019-01-13 11:47] duaraghav8 commented on #223
Resolved in `v1.2.2`.
Sorry this took way too long, but its done now!

[2019-01-13 11:47] #223 closed

[2019-01-13 11:48] duaraghav8 commented on #251
Resolved in `v1.2.2`.

[2019-01-13 11:48] #251 closed

[2019-01-13 11:48] duaraghav8 commented on #211
Resolved in `v1.2.2`.

[2019-01-13 11:48] #211 closed

[2019-01-13 11:48] duaraghav8 commented on #249
Resolved in `v1.2.2`.

[2019-01-13 11:48] #249 closed

[2019-01-13 11:48] duaraghav8 commented on #248
Resolved in `v1.2.2`.

[2019-01-13 11:48] #248 closed

[2019-01-15 12:56] elenadimitrova commented on #47
@duaraghav8 is there a way to treat _all_ warnings as errors, rather than word them out individually?

[2019-01-15 13:35] duaraghav8 commented on #47
@elenadimitrova currently no. But I can see why this can be quite inconvenient. Do you have any ideas on how this configuration option should be presented to the end user, I can't think of a way which could be easy and also provide some flexibility (i.e. treat all as warnings or errors)

[2019-01-16 08:14] elenadimitrova commented on #47
@duaraghav8 Perhaps we can go for a --strict option which does the switch from all warnings to errors but also honours the `rules` config that is additionally allowed to override behaviour in both strict and normal runs?

[2019-01-16 10:15] duaraghav8 opened #252 "Allow global configurations"
**Description**
User should be able to specify configuration which is applied to all rules. Individual rule configurations should be able to override this *global configuration*.

Example: Use all rules and treat all as `errors`. This would mean I `extend` from `solium:all` and then apply the global configuration to treat all rules as `error`s.

I don't have a clear idea on the interface to give t

[2019-01-16 10:16] duaraghav8 commented on #47
moving discussion to #252

[2019-01-16 10:39] elenadimitrova commented on #252
For us it's a nice to have feature with overall low priority. However depending on interest others show it may climb up as I imagine more project looking into this.

[2019-01-19 07:08] duaraghav8 opened #253 "Add solium-enable comment directive"
**Description**
Presently, ethlint supports only `solium-disable` comment directive. Support `solium-enable` to compliment it.

**Use case**
This allows users to only disable the linting over a chunk of code. Example:
[code]

**Screenshots**

**Alternatives**
None

**Comments**
`enable` is only meant to be used after a `disable` to confine the disabling effect to a part of the code. It is not mean

[2019-01-20 07:46] duaraghav8 opened #254 "no-empty-blocks doesn't check functions at all"
**Description**
`no-empty-blocks` doesn't report *any* empty functions. In some cases, functions are allowed to be empty, but not all.

**Steps to reproduce**
- A `.soliumrc.json` with `no-empty-blocks` rule enabled.

Code:
[code]

**Expected behavior**
Rule should report `foo()`.

**Operating System**
Issue is platform-independent.

**Linter version**
`Solium version 1.2.2` - latest at the time o

[2019-01-20 18:34] duaraghav8 opened #255 "Add --max-warnings cli option"
**Description**
`--max-warnings [integer]` CLI option lets a user specify the maximum number of warnings tolerable. If the number of warnings crosses this threshold, linter returns a non-zero exit code.

**Use case**
Keep the number of warnings in control.

**Screenshots**

**Alternatives**
Configure rules as errors instead of warnings

**Comments**

**Priority**

[2019-01-21 06:08] sohkai commented on #235
YAML could be used instead of JSON as a more friendly serialization format in files, but on some level I'm not sure this will be _that_ useful to most people since they can override settings one by one through existing solium comment directives right now.

[2019-01-21 15:16] duaraghav8 commented on #252
@elenadimitrova while this issue may take time to be implemented, I'm shipping another feature which will help you achieve a similar effect.

The CLI option `--max-warnings` (#255). Linter returns non-0 exit code if number of warnings > value of this option. You could use it with `0` as max tolerable warnings.

`solium ... --max-warnings 0` which means even a single warning would fail the build.

[2019-01-23 02:51] ceresstation commented on #94
Hey @dev1644 really sorry for the delay, you're good to go here!

[2019-01-31 20:33] k06a opened #257 "Function selector arguments should be on the same line"
**Description**
Following solidity 0.5.x code:
[code]

Gives 3 warnings:
[code]

**Linter version**
1.2.2

**Priority**
`Medium`

[2019-02-01 03:39] duaraghav8 commented on #257
@k06a Can you paste your full solidity code and `.soliumrc.json`? I think I know why these warnings show up but I need to see the setup to verify

[2019-02-01 06:00] k06a commented on #257
@duaraghav8 sorry, it seems this code it not yet valid for solidity 0.5.3

[2019-02-01 06:00] #257 closed

[2019-02-01 06:12] duaraghav8 commented on #257
ah. But are you saying this code will be valid in a future release? (I haven't read solidity's roadmap, but I can track it to provide support when its finally introduced)

[2019-02-01 06:47] k06a commented on #257
Hope so, but can't find it in roadmap

[2019-02-02 07:54] duaraghav8 opened #258 "Linter doesn't return non-zero code when --fix-dry-run fixes errors"
**Description**
If `--fix-dry-run` fixes all the lint `error`s in the code, the linter exits with `0`. This is wrong behaviour because dry run doesn't permanently fix those errors in the code, so linter should still consider them when exiting with a code.

**Steps to reproduce**
For the sake of simplicity, `sample.sol` should contain 1 fixable lint issue (eg- `quotes`-related issue). `.soliumrc.js

[2019-02-03 16:48] duaraghav8 commented on #205
Closing this issue because there is no definitive conclusion to this discussion.

At the time of this writing, `max-len` rule's default length is `145` and is configurable. Reducing the default value will be a breaking change. Plus the default value is quite liberal so it shouldn't come in your way in most cases.

Feel free to re-open if something needs to be changed/fixed in this rule.

[2019-02-03 16:48] #205 closed

[2019-02-11 05:15] #240 closed

[2019-02-11 05:15] #254 closed

[2019-02-11 05:27] duaraghav8 commented on #240
solved in v1.2.3
https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#123-2019-02-11

[2019-02-11 05:28] duaraghav8 commented on #253
added in v1.2.3
https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#123-2019-02-11

[2019-02-11 05:28] #253 closed

[2019-02-11 05:28] duaraghav8 commented on #254
solved in v1.2.3
https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#123-2019-02-11

[2019-02-22 13:09] Aniket-Engg commented on #258
for me, `echo $?` returns 1.

[2019-02-22 13:35] duaraghav8 commented on #258
if you eliminate all errors (either using the fixer or simply removing them from soliumrc), it will return `0` which it shouldn't because errors are still there (fix-dry-run simply removes them in-memory, not permanently)

[2019-03-14 10:45] KaiRo-at opened #259 "rule for trailing whitespace"
**Name**
This could either be part of the whitespace rule or be a separate trailing-whitespace one.

**Problem**
Trailing whitespace (spaces or tabs) in a line are just unneeded, wasted bytes and often hard to catch in editors.

**Description**
When applying a fix, trailing whitespace should just be deleted.

**Priority**
This is `Low` but it would be a really nice addition.

[2019-03-16 06:58] duaraghav8 commented on #259
Agreed, I personally get bothered a lot by trailing whitespaces.
This check will be added in the `whitespace` rule and will supply the `fix` capability.

[2019-04-08 04:14] duaraghav8 commented on #259
Released in `v1.2.4`
https://github.com/duaraghav8/Ethlint/blob/master/CHANGELOG.md#124-2019-04-08

[2019-04-08 04:14] #259 closed

[2019-04-22 05:16] IIIIllllIIIIllllIIIIllllIIIIllllIIIIll opened #261 "fatal error on abi.decode with dynamic type"
**Description**
Solium reports fatal error on abi.decode with dynamic type

**Steps to reproduce**

Using the following solidity file:

[code]

[code]

**Expected behavior**
Since solc successfully compiles this file, solium should not exit with a fatal error; either lint the file or report a rule violation.

**Operating System**
MacOS

**Linter version**
1.2.4

[code]

[2019-04-24 11:40] KaiRo-at opened #262 "Underscores in integer literals are not supported"
**Description**
When underscores are used in integer literals as described in https://solidity.readthedocs.io/en/develop/types.html#rational-and-integer-literals to increase readability, the linter wrongly reports a syntax error:
`  30:19    error    Syntax error: unexpected token _    `

**Steps to reproduce**

Put code like the following into your contract and run ethlint on it:

`        total

[2019-04-25 13:01] duaraghav8 commented on #261
Thanks for reporting @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
I'm able to reproduce this, will ship the fix in the next release.

[2019-04-27 06:37] duaraghav8 commented on #262
This is a bug in Ethlint's internal solidity parser. I'll ship the fix in the next release
Thanks for reporting

[2019-05-23 12:57] quezak opened #264 "no-empty-blocks false positives in inherited constructor"
**Description**
In an inherited contract, the constructor often just calls the base constructor, and its block is empty. This should be an exception from the `no-empty-block` rule, but now it causes a `warning    Code contains empty block`.

**Steps to reproduce**

- The command you used to lint: `npx solium --file test.sol`

- The solidity code over which you ran the linter
Copied from the [offic

[2019-05-25 13:37] duaraghav8 commented on #264
Thanks for reporting, I'll be investigating this

[2019-05-31 09:48] PixelantDesign commented on #169
Hello duaraghav8! This is Alisa from Gitcoin. Is this issue still active?

[2019-05-31 11:02] duaraghav8 commented on #169
Hey Alisa, The issue on the project is still active.
I'm unsure of its status on Gitcoin. If it is open on Gitcoin, feel free to close it as I don't see anyone taking this up.

[2019-06-02 14:03] obernardovieira commented on #169
I've actually looked at it a few days ago and asked myself if it was being developed.
I could give it a try, also because I want this. But unfortunately I can try it only after 12th June.

[2019-06-17 09:57] quezak commented on #264
@duaraghav8 I just discovered another false-positive case: empty contract body in an inherited contract.

An example (simplified from my real-world use case): I have an abstract contract inheriting an abstract mixin. I then make a concrete contract just by inheriting a concrete mixin contract. The contract body is empty, but still required, while `solium` complains that `warning Code contains empt

[2019-06-17 13:51] duaraghav8 commented on #264
Agreed, I'll be adding inheritance as an exception to this rule.

[2019-06-27 23:42] ottodevs opened #267 "Is this project still active?"
The project didn't receive any update for a while, and there are several pending PRs and issues without answers...

My question is: Is the project still alive? Are you @duaraghav8 open for any kind of collaboration? I see the docs need some attention, the are confusing parts mixing solium and ethlint instructions, that is happening in the latest docs version.

[2019-06-27 23:50] ottodevs commented on #267
Ok I see you are active on the issues, sorry for my wrong perception, the project is great and useful!

[2019-06-27 23:50] #267 closed

[2019-06-28 05:48] duaraghav8 commented on #267
@ottodevs please do point out what parts of the docs are confusing for you

So far, I've only changed the name of the project from Solium to Ethlint itself (this was due to trademark issues)

Everything else (the CLI & doc references) still contains `solium`.

[2019-06-28 05:55] duaraghav8 commented on #267
and yes - always open for collaboration!

[2019-07-01 10:18] quezak opened #268 "Inconsistent behavior of indentation rule for abstract functions"
**Description**
Indentation for functions with a long, multiline argument list behaves differently for abstract and concrete functions -- see example. The error message is also weird, as it says to use 4 spaces (== 1 indent in my case), when the line already uses 4 spaces, and the error disappears if I use a double indent there (which is 8 spaces).

**Steps to reproduce**
- The command you used to

[2019-07-01 10:45] duaraghav8 commented on #268
I'm able to reproduce this, thanks for reporting

[2019-07-01 10:45] duaraghav8 commented on #98
Indentation: add test for #268 too

[2019-07-07 11:24] duaraghav8 commented on #264
Behaviour of this rule for constructors after fix:

If a base contract is called `Foo`, `no-empty-block` will ignore the constructor function of any contract which `is Foo` provided that the constructor also has a modifier named `Foo`.

eg-

[code]

[2019-08-01 20:39] ihordiachenko commented on #94
Hey @duaraghav8. Is the bounty still attached to this issue?

[2019-08-01 21:16] ceresstation commented on #94
Hi @ihordiachenko it should be, if you can get the remaining tasks complete that would be super helpful.

[2019-08-02 18:18] duaraghav8 commented on #94
@ihordiachenko Let me know in case you have any issues

[2019-08-03 20:16] ihordiachenko commented on #94
@ceresstation @duaraghav8 cool, I'll give it a shot next week

[2019-08-10 16:28] raininja commented on #169
I can give this a whirl @duaraghav8, I'm already familiar with the codebase, what say you?

[2019-08-12 19:50] ihordiachenko commented on #94
@duaraghav8 autofix for the `operator-whitespace` rule is ready. Could you take a look at it?

https://github.com/duaraghav8/Ethlint/pull/270

[2019-08-13 13:48] raininja commented on #169
It's still open, can I take it?
@duaraghav8
@PixelantDesign

[2019-08-13 18:23] raininja commented on #169
Tried to "start work" but the bounty was taken by another user

[2019-08-24 15:07] raininja commented on #169
So nothing is being done on this?

[2019-08-26 23:06] BrendanChou opened #272 "max-len rule doesn't apply in certain cases"
**Description**
The `max-len` rule doesn't catch too-long lines in some cases. Notably, it seems to only check the first line of a statement, not any other lines of a multi-line statement.

**Steps to reproduce**
This section may contain all or a combination of the following:
`.soliumrc.json`
[code]

Solidity:
[code]

**Expected behavior**
Have tested in similar scenarios, it seems that max-len on

[2019-08-31 06:10] duaraghav8 commented on #272
@BrendanChou thanks for reporting, I can confirm that this is an issue in the lint rule itself, so you can expect to face the same regardless of your OS. Added to v1.2.5 todo

[2019-08-31 10:48] duaraghav8 commented on #169
@raininja I'm no longer sure whether the bounties are still valid or not. I can confirm that the issue is  still active @PixelantDesign but not sure if the bounty still applies or not.

[2019-08-31 10:51] duaraghav8 commented on #94
@ihordiachenko sorry for the late response, I had been on leave for a while.
Thanks for the PR, will review it in a day's time.

[2019-09-14 06:43] duaraghav8 opened #273 "no-empty-blocks shouldn't flag empty contract body in an inherited contract"
**Description**
Reproducing an issue here, which was originally reported at https://github.com/duaraghav8/Ethlint/issues/264#issuecomment-502617533 by @quezak

[2019-09-14 06:45] duaraghav8 commented on #264
The issue you originally filed has been fixed in `v1.2.5`.
The subsequent issue you filed has been moved to and will be tracked at #273
Thanks for reporting this!

The latest release is available on both `solium` & `ethlint` NPM packages, but I highly recommend you to switch to downloading from `ethlint` if you're currently not.

[2019-09-14 06:45] #264 closed

[2019-09-14 19:22] quezak commented on #264
Thanks!

[2019-09-15 07:37] duaraghav8 opened #274 "CLI: add option to list all available lint rules"
This is just an initial though, anyone is welcome to participate in this thread. Only once the format is finalised will I add this to Milestone.

**Description**
A user shouldn't have to head to the docs to view a list of rules (along with detailed description, parameters supplied, autofix availability). The CLI should allow this.

**Use case**
Much faster & more convenient for user because they d

[2019-09-23 21:07] ceresstation commented on #169
Hi @raininja you are welcome to take this one on if you have time, I'll even add a tip. Just approved you.

[2019-10-01 19:18] #170 closed

[2019-11-12 12:03] vince0656 opened #275 "Update security rules to follow new best practices for transferring value"
**Name**
Not thought of a name

**Problem**
Based on https://diligence.consensys.net/posts/2019/09/stop-using-soliditys-transfer-now/ we are now using .call.value() to send value. However, this means that Solium is throwing the following:
`72:37    error      Consider using 'transfer' in place of 'call.value()'.                 security/no-call-value`

**Description**
We are suppressing this warni

[2019-11-12 12:04] vince0656 commented on #275
@jamesmorgan

[2019-11-28 19:42] nfurfaro commented on #268
Hey, any progress on this? I've modified the indentation of my closong parens on all my abstract functions as a workaround... but would be great if this wasn't an issue.

[2019-11-30 12:32] duaraghav8 commented on #268
@nfurfaro This is one of the issues I've been working on (https://github.com/duaraghav8/Ethlint/projects/6) but I recently hit a roadblock. It may be around for 2-3 months. I see that you've had to change your indent style. If comment directives work for you instead of changing your code, I recommend using them to ignore indent lint issues.

[2019-11-30 16:10] nfurfaro commented on #268
Thanks for the suggestion, I will do that. Good luck with this!

On Sat., Nov. 30, 2019, 5:32 a.m. Raghav Dua, <notifications@github.com>
wrote:

[2019-12-03 08:45] emilbayes commented on #264
This also shows up for contracts with an `internal` constructor, which are "abstract" contracts according to the solidity documentation

[2019-12-04 13:21] duaraghav8 commented on #264
@emilbayes can you point me to the docs on `internal`?

[2019-12-04 14:17] emilbayes commented on #264
@duaraghav8 https://solidity.readthedocs.io/en/v0.5.12/contracts.html#abstract-contracts

[2019-12-16 19:47] duaraghav8 commented on #275
Hi @vince0656 I just noticed this issue, I'm not seeing a lot of notifs on my github, its been messed up for a while. Sorry for responding so late.

To be clear, does Ethereum and/or Consensys encourage the use of `call.value()`?
If yes, is there any authoritative document on this? Or is this diligence document the most authoritative in your opinion?

[2019-12-17 11:47] jamesmorgan commented on #275
@duaraghav8 I think its in the doc @vince0656 linked above https://diligence.consensys.net/posts/2019/09/stop-using-soliditys-transfer-now/

[2019-12-28 20:05] k06a opened #276 "Wrong indentation on ternary operator parentheses"
**Description**

Parentheses in ternary operator in array breaks indentation rules:

**Steps to reproduce**

Source code:
[code]
Gives:
[code]

**Linter version: 1.2.5**

[2020-01-10 20:37] k06a opened #277 "Linter complains on assembly for loop syntax"
**Description**
It should pass but complains about syntax error during linting:
[code]

For [the code](https://github.com/CryptoManiacsZone/1split/blob/325eae07207776221e50cc73735f87feada4006e/contracts/interface/IChai.sol#L51):
[code]

**Operating System**
MacOS 10.15.2

**Linter version**
1.2.5

**Priority**
`High`

[2020-01-13 18:38] avatar-lavventura opened #279 "--fix flag does not fix"
Probably it is not a bug but I am not able to apply fix. `solium -d contrats` and `solium -d contrats --fix` generates same output but there is no fixes were applied even with `--fix` flag. Is it a normal case?

[code]

[2020-01-13 19:11] avatar-lavventura opened #280 "Consider using 'transfer' in place of 'call.value() is wrong for solc > v0.6.0"
[code]

As for the solidity version 0.6.0, it is recommended to use `call.value()` and using `transfer` is not recommended.

Please see => [https://medium.com/consensys-diligence/stop-using-soliditys-transfer-now-b1b6d2d00faf](https://medium.com/consensys-diligence/stop-using-soliditys-transfer-now-b1b6d2d00faf)

[2020-02-13 16:36] juharris opened #281 "Support abstract contracts."
**Description**
Solidity 0.6 introduces the `abstract` keyword for abstract contracts: https://solidity.readthedocs.io/en/v0.6.0/contracts.html#abstract-contracts

Works:
[code]

Does not work:
[code]
[code]

[2020-03-10 03:09] gorgos commented on #281
Likewise the new `override` keyword.

[2020-04-20 11:07] elenadimitrova commented on #281
Likewise the new `receive` and `fallback` functions :)
In general support the 0.6 syntax changes.

[2020-04-30 16:33] pmprete opened #282 "ethlint dependecies secuirty issues"
**Description**
There has been a few exploints found on the dependencies used by ethlint

**Steps to reproduce**
run `npm audit` on the ethlint project

You will see the following warnings:
- https://www.npmjs.com/advisories/1490
- https://www.npmjs.com/advisories/1179
- https://npmjs.com/advisories/1084
- https://npmjs.com/advisories/786

**Expected behavior**
Not to see any warnings

**Linter ve

[2020-05-08 00:35] abarmat opened #284 "Syntax error when using array slice on a bytes datatype"
**Description**
Syntax error when using array slice on a bytes datatype as allowed in Solidity 0.6

**Steps to reproduce**

### Demo.sol
[code]

### Run with:
`solium --dir ./contracts`

### .soliumrc.json
[code]

**Expected behavior**
The usage of array slicing on `bytes calldata` types should not be considered syntax error.

Solidity Documentation
https://solidity.readthedocs.io/en/v0.6.0/types.

[2020-05-11 05:36] duaraghav8 commented on #284
Thanks for reporting this @abarmat
Solidity 0.6 is currently not supported by Ethlint's internal parser, so I can confirm that this is an issue on all platforms.

[2020-07-07 12:43] mhluongo commented on #204
This one bites me every time

[2020-07-30 16:23] quezak commented on #281
Is there a workaround? Or maybe a fork that already has Solidity 0.6 syntax support?

[2020-07-30 20:05] gorgos commented on #281
@quezak You can ignore those files or use https://github.com/protofire/solhint.

[2020-07-31 09:00] quezak commented on #281
I can't ignore _all_ my contract files :D I'll try out if solhint works better, thanks

[2020-09-03 08:11] riordant commented on #279
Experiencing the same issue.

[2020-10-04 17:54] avatar-lavventura opened #286 "Wrong error message for `msg.sender.call{value: amount}("");`"
For the following line: `(bool success, ) = msg.sender.call{value: amount}("");` ; I am getting following error message:
[code]

--------

But `solidity 0.7.0` recommend us to use `{value: ...}` an usage of `{` seems correct. Why solium generates this error message even it is correct and recommended usage in Solidity?

[code]

[2020-12-12 07:18] seanoh1989 opened #287 ".soliumignore doesn't ignore files/dirs listed"
**Description**
I have setup ethlint with `ethlint --init` and made sure `.soliumignore` has been created.
Currently it has
[code]

However, when I run `solium -d .`, it detects ALL kinds of errors from files in node_modules.
It also does not ignore the default Migrations.sol file I have with 2 spaces as indents.

Example
[code]

**Steps to reproduce**

- The command you used to lint
[code]
- The

[2020-12-28 08:51] ilyar opened #288 "yarn audit fail: 4 vulnerabilities found"
**Description**
yarn audit fail: 4 vulnerabilities found

**Steps to reproduce**

[code]

**Linter version**
[code]

[2021-01-14 14:05] Siegrift commented on #175
I think I found a code for which the fix doesn't work properly.

This is the line which reports `operator-whitespace` warning: https://github.com/vacuumlabs/name-bazaar/blob/not-working-op-whitespace/resources/public/contracts/src/AuctionOffering.sol#L159

`npm run ethlint --version`  = 6.14.4

[2021-03-20 09:38] k06a opened #290 "Multi-literal strings support"
**Description**

We need support for multi-literal strings like this:
[code]

Here is demo repo: https://github.com/k06a/truffle-string-multi-literal

Check [Solidity Grammar](https://docs.soliditylang.org/en/v0.8.2/grammar.html#a4.Solidity.stringLiteral):
<img width="610" alt="image" src="https://user-images.githubusercontent.com/702124/111865568-27aa2c00-8968-11eb-9bb5-3f5397a2afa6.png">

**Step

[2021-06-08 22:34] mfornet opened #293 "Linter complain on try/catch syntax"
**Description**
It should pass but complains about syntax error during linting:

[code]

For the code:

[code]

Line 34, is the one containing the `try` statement

**Operating System**
MacOS 10.15.7

**Linter version**
Solium version 1.2.5

**Comments**
If you'd like to share any additional information that doesn't fit in above sections or suggest a solution to the maintainers.

**Priority**
`Medi

[2021-06-10 15:38] mfornet opened #294 "Linter complain on syntax to call `create2`"
**Description**
It should pass but complains about syntax error during linting:

[code]

For the code:

[code]

**Steps to reproduce**
This section may contain all or a combination of the following:

- The command you used to lint
- The solidity code over which you ran the linter
- Contents of your `.soliumrc.json` file
- Contents of your `.soliumignore`

In addition, you may add anything you feel

[2021-10-10 10:20] FeatureSpitter commented on #279
Same.
This project died?

[2022-01-18 13:17] avatar-lavventura commented on #280
https://ethereum.stackexchange.com/q/80402/4575

[2022-07-30 11:14] drank40 opened #296 "False positive on interface inheriting from antoher interface"
**Description**
A clear and concise description of what the bug is.

When declaring an interface that inherits from another interface the linter throws a false positive (the program compiles in solidity 0.8)

**Steps to reproduce**

The following code is a simplified version of the code in my dApp

[code]
Line 5 throws the error

*Syntax error: unexpected token i []*

**Expected behavior**

No err

[2022-11-20 14:36] paulrberg opened #297 "Feature Request: no-unused-imports"
A rule for warning/error about any unused imports.

Like [eslint-plugin-unused-imports](https://github.com/sweepline/eslint-plugin-unused-imports).